src/main/resources/etc/xsd/MIMformat/v2/1.1/xlink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3.org/1999/xlink">

   <xs:attributeGroup name="simpleLink">
      <xs:attributeGroup ref="xlink:simpleAttrs"/>
   </xs:attributeGroup>
   <xs:attribute name="href" type="xlink:hrefType"/>
   <xs:simpleType name="hrefType">
      <xs:restriction base="xs:anyURI"/>
   </xs:simpleType>
   <xs:attributeGroup name="simpleAttrs">
      <xs:attribute ref="xlink:href"/>
   </xs:attributeGroup>
</xs:schema>
