src/main/resources/input/BRO/xsd/www.opengis.net/GML321-BROPROFILE/gml/3.2/gml-profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 

    Copyright TNO Geologische Dienst Nederland

    Alle rechten voorbehouden.
    Niets uit deze software mag worden vermenigvuldigd en/of openbaar gemaakt door middel van druk, fotokopie,
    microfilm of op welke andere wijze dan ook, zonder voorafgaande toestemming van TNO.

    Indien deze software in opdracht werd uitgebracht, wordt voor de rechten en verplichtingen van opdrachtgever
    en opdrachtnemer verwezen naar de Algemene Voorwaarden voor opdrachten aan TNO, dan wel de betreffende
    terzake tussen de partijen gesloten overeenkomst.

 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        targetNamespace="http://www.opengis.net/gml/3.2"
        elementFormDefault="qualified"
        version="0.0.4-3.2.1">
    <!-- 
	This schema is provided by BRO as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by BRO.
	 -->
    <annotation>
        <documentation>GML 3.2.1 profile for BRO. 0.0.1-3.2.1: Based on gml:AbstractFeature, gml:ReferenceType, gml:PointPropertyType, gml:EnvelopeType, gml:MeasureType, gml:TimeInstantPropertyType, (gml:CodeWithAuthorityType) </documentation>
        <documentation>GML 3.2.1 profile for BRO. 0.0.2-3.2.1: anyURI toegevoegd aan TimePositionUnion</documentation>
        <documentation>GML 3.2.1 profile for BRO. 0.0.3-3.2.1: June 2021: Added gml:BoundingShapeType, CurvePropertyType, MultiPointPropertyType, MultiSuMultiSurfacePropertyTyperface; Adjusted SurfaceType</documentation>
        <documentation>GML 3.2.1 profile for BRO. 0.0.4-3.2.1: November 2023: Added GeometryPropertyType, Solid, MultiCurve, MultiSolid and MultiGeometry</documentation>
    </annotation>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="https://schema.broservices.nl/profile/xlink/1.0/xlink-profile.xsd"/>

    <!--  =================================================  -->
    <!-- Types: codeList -->
    <!--  =================================================  -->
    <complexType name="CodeType">
        <simpleContent>
            <extension base="string">
                <attribute name="codeSpace" type="anyURI"/>
            </extension>
        </simpleContent>
    </complexType>
    <complexType name="CodeWithAuthorityType">
        <simpleContent>
            <restriction base="gml:CodeType">
                <attribute name="codeSpace" type="anyURI" use="required"/>
            </restriction>
        </simpleContent>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: Measure -->
    <!--  =================================================  -->
    <complexType name="MeasureType">
        <simpleContent>
            <extension base="double">
                <attribute name="uom" type="gml:UomIdentifier" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="UomIdentifier">
        <union memberTypes="gml:UomSymbol gml:UomURI"/>
    </simpleType>
    <simpleType name="UomSymbol">
        <restriction base="string">
            <pattern value="[^: \n\r\t]+"/>
        </restriction>
    </simpleType>
    <simpleType name="UomURI">
        <restriction base="anyURI">
            <pattern value="([a-zA-Z][a-zA-Z0-9\-\+\.]*:|\.\./|\./|#).*"/>
        </restriction>
    </simpleType>

    <!--  =================================================  -->
    <!-- Types: AbstractObject -->
    <!--  =================================================  -->
    <element name="AbstractObject" abstract="true"/>
    <attribute name="id" type="ID"/>
    <simpleType name="NilReasonType">
        <union memberTypes="gml:NilReasonEnumeration anyURI"/>
    </simpleType>
    <attributeGroup name="AssociationAttributeGroup">
        <attributeGroup ref="xlink:simpleAttrs"/>
        <attribute name="nilReason" type="gml:NilReasonType"/>
    </attributeGroup>
    <simpleType name="NilReasonEnumeration">
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="inapplicable"/>
                    <enumeration value="missing"/>
                    <enumeration value="template"/>
                    <enumeration value="unknown"/>
                    <enumeration value="withheld"/>
                </restriction>
            </simpleType>
            <simpleType>
                <restriction base="string">
                    <pattern value="other:\w{2,}"/>
                </restriction>
            </simpleType>
        </union>
    </simpleType>
    <complexType name="ReferenceType">
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: AbstractGML -->
    <!--  =================================================  -->
    <element name="AbstractGML" type="gml:AbstractGMLType" abstract="true" substitutionGroup="gml:AbstractObject"/>
    <complexType name="AbstractGMLType" abstract="true">
        <!--  Not used in BRO profile
        <sequence>
            <group ref="gml:StandardObjectProperties"/>
        </sequence>
         -->
        <attribute ref="gml:id" use="required"/>
    </complexType>
    <!--  Not used in BRO profile
         gml:identifier might be used in the future, but its usage is currently not foreseen.
    <group name="StandardObjectProperties">
        <sequence>
            <element ref="gml:description" minOccurs="0"/>
            <element ref="gml:descriptionReference" minOccurs="0"/>
            <element ref="gml:identifier" minOccurs="0"/>
            <element ref="gml:name" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </group>
    <element name="description" type="string"/>
    <element name="descriptionReference" type="gml:ReferenceType"/>
    <element name="identifier" type="gml:CodeWithAuthorityType"/>
    <element name="name" type="gml:CodeType"/>
     -->

    <!--  =================================================  -->
    <!-- Types: time related types-->
    <!--  =================================================  -->
    <element name="AbstractTimeObject" type="gml:AbstractTimeObjectType" abstract="true" substitutionGroup="gml:AbstractGML"/>
    <complexType name="AbstractTimeObjectType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractGMLType"/>
        </complexContent>
    </complexType>
    <element name="AbstractTimePrimitive" type="gml:AbstractTimePrimitiveType" abstract="true" substitutionGroup="gml:AbstractTimeObject"/>
    <complexType name="AbstractTimePrimitiveType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractTimeObjectType"/>
        </complexContent>
    </complexType>
    <complexType name="TimePrimitivePropertyType">
        <sequence>
            <element ref="gml:AbstractTimePrimitive"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <!--  =================================================  -->
    <element name="AbstractTimeGeometricPrimitive" type="gml:AbstractTimeGeometricPrimitiveType" abstract="true" substitutionGroup="gml:AbstractTimePrimitive"/>
    <complexType name="AbstractTimeGeometricPrimitiveType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractTimePrimitiveType">
                <attribute name="frame" type="anyURI" default="#ISO-8601"/>
            </extension>
        </complexContent>
    </complexType>
    <!--  =================================================  -->
    <simpleType name="TimePositionUnion">
        <!--  decimal Not used in BRO profile
        <union memberTypes="gml:CalDate time dateTime anyURI decimal"/>
        -->
        <union memberTypes="gml:CalDate time dateTime anyURI"/>
    </simpleType>
    <simpleType name="CalDate">
        <union memberTypes="date gYearMonth gYear"/>
    </simpleType>
    <simpleType name="TimeIndeterminateValueType">
        <restriction base="string">
            <!--  Not used in BRO profile
            <enumeration value="after"/>
            <enumeration value="before"/>
            <enumeration value="now"/>
             -->
            <enumeration value="unknown"/>
        </restriction>
    </simpleType>

    <!--  =================================================  -->
    <!-- Types: timePosition -->
    <!--  =================================================  -->
    <element name="timePosition" type="gml:TimePositionType"/>
    <complexType name="TimePositionType" final="#all">
        <simpleContent>
            <extension base="gml:TimePositionUnion">
                <attribute name="frame" type="anyURI" default="#ISO-8601"/>
                <!--  Not used in BRO profile
                <attribute name="calendarEraName" type="string"/>
                 -->
                <attribute name="indeterminatePosition" type="gml:TimeIndeterminateValueType"/>
            </extension>
        </simpleContent>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: TimeInstant -->
    <!--  =================================================  -->
    <element name="TimeInstant" type="gml:TimeInstantType" substitutionGroup="gml:AbstractTimeGeometricPrimitive"/>
    <complexType name="TimeInstantType" final="#all">
        <complexContent>
            <extension base="gml:AbstractTimeGeometricPrimitiveType">
                <sequence>
                    <element ref="gml:timePosition"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeInstantPropertyType">
        <sequence minOccurs="0">
            <element ref="gml:TimeInstant"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: TimePeriod -->
    <!--  =================================================  -->
    <element name="TimePeriod" type="gml:TimePeriodType" substitutionGroup="gml:AbstractTimeGeometricPrimitive"/>
    <complexType name="TimePeriodType">
        <complexContent>
            <extension base="gml:AbstractTimeGeometricPrimitiveType">
                <sequence>
                    <element name="beginPosition" type="gml:TimePositionType"/>
                    <element name="endPosition" type="gml:TimePositionType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimePeriodPropertyType">
        <sequence>
            <element ref="gml:TimePeriod"/>
        </sequence>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: geometry related types -->
    <!--  =================================================  -->
    <attributeGroup name="SRSReferenceGroup">
        <attribute name="srsName" type="anyURI"/>
        <attribute name="srsDimension" type="positiveInteger"/>
    </attributeGroup>
    <simpleType name="NCNameList">
        <list itemType="NCName"/>
    </simpleType>
    <simpleType name="doubleList">
        <list itemType="double"/>
    </simpleType>
    <complexType name="DirectPositionType">
        <simpleContent>
            <extension base="gml:doubleList"/>
        </simpleContent>
    </complexType>
    <element name="pos" type="gml:DirectPositionType"/>

    <!--  =================================================  -->
    <!-- Types: Envelope and BoundingShape -->
    <!--  =================================================  -->
    <element name="Envelope" type="gml:EnvelopeType" substitutionGroup="gml:AbstractObject"/>
    <complexType name="EnvelopeType">
        <sequence>
            <element name="lowerCorner" type="gml:DirectPositionType"/>
            <element name="upperCorner" type="gml:DirectPositionType"/>
        </sequence>
        <attributeGroup ref="gml:SRSReferenceGroup"/>
    </complexType>
    <complexType name="BoundingShapeType">
        <sequence>
            <choice>
                <element ref="gml:Envelope"/>
                <!-- Not used in BRO profile
                <element ref="gml:Null"/>
                -->
            </choice>
        </sequence>
        <!-- attribute name="nilReason" type="gml:NilReasonType"/ -->
    </complexType>

    <!--  =================================================  -->
    <!-- Types: Feature -->
    <!--  =================================================  -->
    <element name="AbstractFeature" type="gml:AbstractFeatureType" abstract="true" substitutionGroup="gml:AbstractGML"/>
    <complexType name="AbstractFeatureType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractGMLType"/>
        </complexContent>
    </complexType>
    <complexType name="FeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gml:AbstractFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: Geometry -->
    <!--  =================================================  -->
    <element name="AbstractGeometry" type="gml:AbstractGeometryType" abstract="true" substitutionGroup="gml:AbstractGML"/>
    <complexType name="AbstractGeometryType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <attributeGroup ref="gml:SRSReferenceGroup"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeometryPropertyType">
        <annotation>
            <documentation>A geometric property may either be any geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same or another document). Note that either the reference or the contained element shall be given, but not both or none.
If a feature has a property that takes a geometry element as its value, this is called a geometry property. A generic type for such a geometry property is GeometryPropertyType.</documentation>
        </annotation>
        <sequence minOccurs="0">
            <element ref="gml:AbstractGeometry"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <!--  Not used in BRO profile
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
        -->
    </complexType>

    <!--  =================================================  -->
    <!-- Types: GeometricPrimitive as a parent for all primitive geometries (currently Point, Curve, LineString, Surface, Polygon and Solid)-->
    <!--  =================================================  -->
    <element name="AbstractGeometricPrimitive" type="gml:AbstractGeometricPrimitiveType" abstract="true" substitutionGroup="gml:AbstractGeometry"/>
    <complexType name="AbstractGeometricPrimitiveType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractGeometryType"/>
        </complexContent>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: Point -->
    <!--  =================================================  -->
    <element name="Point" type="gml:PointType" substitutionGroup="gml:AbstractGeometricPrimitive"/>
    <complexType name="PointType">
        <complexContent>
            <extension base="gml:AbstractGeometricPrimitiveType">
                <sequence>
                    <element ref="gml:pos"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PointPropertyType">
        <sequence>
            <element ref="gml:Point"/>
        </sequence>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: AbstractCurve as a parent for all curve types (currently only LineString and Curve) -->
    <!--  =================================================  -->
    <element name="AbstractCurve" type="gml:AbstractCurveType" abstract="true" substitutionGroup="gml:AbstractGeometricPrimitive"/>
    <complexType name="AbstractCurveType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractGeometricPrimitiveType"/>
        </complexContent>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: supporting types for line, curve, polygon and surface -->
    <!--  =================================================  -->
    <complexType name="DirectPositionListType">
        <simpleContent>
            <extension base="gml:doubleList"/>
        </simpleContent>
    </complexType>
    <element name="posList" type="gml:DirectPositionListType"/>

    <!--  =================================================  -->
    <!-- Types: LineString -->
    <!--  =================================================  -->
    <element name="LineString" type="gml:LineStringType" substitutionGroup="gml:AbstractCurve"/>
    <complexType name="LineStringType">
        <complexContent>
            <extension base="gml:AbstractCurveType">
                <sequence>
                    <element ref="gml:posList"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: supporting types for Curve -->
    <!--  =================================================  -->
    <simpleType name="CurveInterpolationType">
        <annotation>
            <documentation>gml:CurveInterpolationType is a list of codes that may be used to identify the interpolation mechanisms specified by an application schema.</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="linear"/>
            <!-- Not used in BRO profile
            <enumeration value="geodesic"/>
            -->
            <enumeration value="circularArc3Points"/>
            <!-- Not used in BRO profile
            <enumeration value="circularArc2PointWithBulge"/>
			<enumeration value="circularArcCenterPointWithRadius"/>
			<enumeration value="elliptical"/>
			<enumeration value="clothoid"/>
			<enumeration value="conic"/>
			<enumeration value="polynomialSpline"/>
			<enumeration value="cubicSpline"/>
			<enumeration value="rationalSpline"/>
            -->
        </restriction>
    </simpleType>
    <complexType name="AbstractCurveSegmentType" abstract="true">
        <attribute name="numDerivativesAtStart" type="integer" default="0"/>
        <attribute name="numDerivativesAtEnd" type="integer" default="0"/>
        <attribute name="numDerivativeInterior" type="integer" default="0"/>
    </complexType>
    <element name="AbstractCurveSegment" type="gml:AbstractCurveSegmentType" abstract="true" substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>A curve segment defines a homogeneous segment of a curve. The attributes numDerivativesAtStart, numDerivativesAtEnd and numDerivativesInterior specify the type of continuity as specified in ISO 19107:2003, 6.4.9.3. The AbstractCurveSegment element is the abstract head of the substituition group for all curve segment elements, i.e. continuous segments of the same interpolation mechanism. All curve segments shall have an attribute interpolation with type gml:CurveInterpolationType specifying the curve interpolation mechanism used for this segment. This mechanism uses the control points and control parameters to determine the position of this curve segment.</documentation>
        </annotation>
    </element>
    <complexType name="CurveSegmentArrayPropertyType">
        <annotation>
            <documentation>gml:CurveSegmentArrayPropertyType is a container for an array of curve segments.</documentation>
        </annotation>
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element ref="gml:AbstractCurveSegment"/>
        </sequence>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: Curve with segments (currently only LineStringSegment or ArcString segments) -->
    <!--  =================================================  -->
    <element name="Curve" type="gml:CurveType" substitutionGroup="gml:AbstractCurve"/>
    <complexType name="CurveType">
        <complexContent>
            <extension base="gml:AbstractCurveType">
                <sequence>
                    <element ref="gml:segments"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="segments" type="gml:CurveSegmentArrayPropertyType">
        <annotation>
            <documentation>This property element contains a list of curve segments. The order of the elements is significant and shall be preserved when processing the array.</documentation>
        </annotation>
    </element>
    <complexType name="CurvePropertyType">
        <annotation>
            <documentation> A property that has a curve as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none. </documentation>
        </annotation>
        <sequence minOccurs="0">
            <element ref="gml:AbstractCurve"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <!--  Not used in BRO profile
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
		 -->
    </complexType>
    <!--  =================================================  -->
    <element name="LineStringSegment" type="gml:LineStringSegmentType" substitutionGroup="gml:AbstractCurveSegment"/>
    <complexType name="LineStringSegmentType">
        <complexContent>
            <extension base="gml:AbstractCurveSegmentType">
                <sequence>
                    <!--  Not used in BRO profile
                    <choice minOcurs="2"maxOccurs="unbounded"
                        <element ref="gml:pos" />
                        <element ref="gml:pointProperty"/>
                        <element ref="gml:pointRep"/>
                    </choice>
                    <element ref="gml:coordinates" />
                    -->
                    <element ref="gml:posList"/>
                </sequence>
                <attribute name="interpolation" type="gml:CurveInterpolationType" fixed="linear"/>
            </extension>
        </complexContent>
    </complexType>
    <!--  =================================================  -->
    <element name="ArcString" type="gml:ArcStringType" substitutionGroup="gml:AbstractCurveSegment">
        <annotation>
            <documentation>An ArcString is a curve segment that uses three-point circular arc interpolation ("circularArc3Points"). The number of arcs in the arc string may be explicitly stated in the attribute numArc. The number of control points in the arc string shall be 2 * numArc + 1. The content model follows the general pattern for the encoding of curve segments.</documentation>
        </annotation>
    </element>
    <complexType name="ArcStringType">
        <complexContent>
            <extension base="gml:AbstractCurveSegmentType">
                <sequence>
                    <!--  Not used in BRO profile
					<choice>
						<choice minOccurs="3" maxOccurs="unbounded">
							<element ref="gml:pos"/>
							<element ref="gml:pointProperty"/>
							<element ref="gml:pointRep"/>
						</choice>
                     -->
                    <element ref="gml:posList"/>
                    <!-- Not used in BRO profile
                    <element ref="gml:coordinates"/>
					</choice>
                     -->
                </sequence>
                <attribute name="interpolation" type="gml:CurveInterpolationType" fixed="circularArc3Points"/>
                <attribute name="numArc" type="integer"/>
            </extension>
        </complexContent>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: AbstractSurface as a parent for all surface types (currently only Polygon and Surface) -->
    <!--  =================================================  -->
    <element name="AbstractSurface" type="gml:AbstractSurfaceType" abstract="true" substitutionGroup="gml:AbstractGeometricPrimitive"/>
    <complexType name="AbstractSurfaceType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractGeometricPrimitiveType"/>
        </complexContent>
    </complexType>
    <complexType name="SurfacePropertyType">
        <sequence>
            <element ref="gml:AbstractSurface"/>
        </sequence>
        <!-- Not used in BRO profile
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
        -->
    </complexType>

    <!--  =================================================  -->
    <!-- Types: Polygon with exterior and interior ring -->
    <!--  =================================================  -->
    <element name="Polygon" type="gml:PolygonType" substitutionGroup="gml:AbstractSurface"/>
    <complexType name="PolygonType">
        <complexContent>
            <extension base="gml:AbstractSurfaceType">
                <sequence>
                    <element ref="gml:exterior" minOccurs="0"/>
                    <element ref="gml:interior" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="exterior" type="gml:AbstractRingPropertyType"/>
    <element name="interior" type="gml:AbstractRingPropertyType"/>
    <element name="AbstractRing" type="gml:AbstractRingType" abstract="true" substitutionGroup="gml:AbstractObject"/>
    <complexType name="AbstractRingType" abstract="true">
        <sequence/>
    </complexType>
    <complexType name="AbstractRingPropertyType">
        <sequence>
            <element ref="gml:AbstractRing"/>
        </sequence>
    </complexType>
    <element name="LinearRing" type="gml:LinearRingType" substitutionGroup="gml:AbstractRing"/>
    <complexType name="LinearRingType">
        <complexContent>
            <extension base="gml:AbstractRingType">
                <sequence>
                    <element ref="gml:posList"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: Surface with surface patches (currently only polygon patches) -->
    <!--  =================================================  -->
    <element name="Surface" type="gml:SurfaceType" substitutionGroup="gml:AbstractSurface">
        <annotation>
            <documentation>A Surface is a 2-dimensional primitive and is composed of one or more surface patches as specified in ISO 19107:2003, 6.3.17.1. The surface patches are connected to one another. patches encapsulates the patches of the surface.</documentation>
        </annotation>
    </element>
    <complexType name="SurfaceType">
        <complexContent>
            <extension base="gml:AbstractSurfaceType">
                <sequence>
                    <element ref="gml:patches"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="patches" type="gml:SurfacePatchArrayPropertyType">
        <annotation>
            <documentation>The patches property element contains the sequence of surface patches. The order of the elements is significant and shall be preserved when processing the array.</documentation>
        </annotation>
    </element>
    <complexType name="SurfacePatchArrayPropertyType">
        <annotation>
            <documentation>gml:SurfacePatchArrayPropertyType is a container for a sequence of surface patches.</documentation>
        </annotation>
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element ref="gml:AbstractSurfacePatch"/>
        </sequence>
    </complexType>
    <element name="AbstractSurfacePatch" type="gml:AbstractSurfacePatchType" abstract="true">
        <annotation>
            <documentation>A surface patch defines a homogenuous portion of a surface. The AbstractSurfacePatch element is the abstract head of the substituition group for all surface patch elements describing a continuous portion of a surface. All surface patches shall have an attribute interpolation (declared in the types derived from gml:AbstractSurfacePatchType) specifying the interpolation mechanism used for the patch using gml:SurfaceInterpolationType.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractSurfacePatchType" abstract="true"/>
    <!--  =================================================  -->
    <element name="PolygonPatch" type="gml:PolygonPatchType" substitutionGroup="gml:AbstractSurfacePatch">
        <annotation>
            <documentation>A gml:PolygonPatch is a surface patch that is defined by a set of boundary curves and an underlying surface to which these curves adhere. The curves shall be coplanar and the polygon uses planar interpolation in its interior. interpolation is fixed to "planar", i.e. an interpolation shall return points on a single plane. The boundary of the patch shall be contained within that plane.</documentation>
        </annotation>
    </element>
    <complexType name="PolygonPatchType">
        <complexContent>
            <extension base="gml:AbstractSurfacePatchType">
                <sequence>
                    <element ref="gml:exterior" minOccurs="0"/>
                    <element ref="gml:interior" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
                <attribute name="interpolation" type="gml:SurfaceInterpolationType" fixed="planar"/>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="SurfaceInterpolationType">
        <annotation>
            <documentation>gml:SurfaceInterpolationType is a list of codes that may be used to identify the interpolation mechanisms specified by an application schema.</documentation>
        </annotation>
        <restriction base="string">
            <!-- Not used in BRO profile
			<enumeration value="none"/>
			 -->
            <enumeration value="planar"/>
            <!-- Not used in BRO profile
			<enumeration value="spherical"/>
			<enumeration value="elliptical"/>
			<enumeration value="conic"/>
			<enumeration value="tin"/>
			<enumeration value="parametricCurve"/>
			<enumeration value="polynomialSpline"/>
			<enumeration value="rationalSpline"/>
			<enumeration value="triangulatedSpline"/>
			 -->
        </restriction>
    </simpleType>

    <!--  =================================================  -->
    <!-- Types: AbstractSolid as a parent for all solid types (currently only Solid) -->
    <!--  =================================================  -->
    <element name="AbstractSolid" type="gml:AbstractSolidType" abstract="true" substitutionGroup="gml:AbstractGeometricPrimitive">
        <annotation>
            <documentation>The AbstractSolid element is the abstract head of the substituition group for all (continuous) solid elements.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractSolidType">
        <annotation>
            <documentation>gml:AbstractSolidType is an abstraction of a solid to support the different levels of complexity. The solid may always be viewed as a geometric primitive, i.e. is contiguous.</documentation>
        </annotation>
        <complexContent>
            <extension base="gml:AbstractGeometricPrimitiveType"/>
        </complexContent>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: Solid with with exterior and interior shells -->
    <!--  =================================================  -->
    <element name="solidProperty" type="gml:SolidPropertyType">
        <annotation>
            <documentation>This property element either references a solid via the XLink-attributes or contains the solid element. solidProperty is the predefined property which may be used by GML Application Schemas whenever a GML feature has a property with a value that is substitutable for AbstractSolid.</documentation>
        </annotation>
    </element>
    <complexType name="SolidPropertyType">
        <annotation>
            <documentation>A property that has a solid as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none.</documentation>
        </annotation>
        <sequence minOccurs="0">
            <element ref="gml:AbstractSolid"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <!-- Not used in BRO profile
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
        -->
    </complexType>
    <element name="Solid" type="gml:SolidType" substitutionGroup="gml:AbstractSolid">
        <annotation>
            <documentation>A solid is the basis for 3-dimensional geometry. The extent of a solid is defined by the boundary surfaces as specified in ISO 19107:2003, 6.3.18. exterior specifies the outer boundary, interior the inner boundary of the solid.</documentation>
        </annotation>
    </element>
    <complexType name="SolidType">
        <complexContent>
            <extension base="gml:AbstractSolidType">
                <sequence>
                    <element name="exterior" type="gml:ShellPropertyType" minOccurs="0"/>
                    <element name="interior" type="gml:ShellPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!--  =================================================  -->
    <element name="Shell" type="gml:ShellType" substitutionGroup="gml:AbstractSurface">
        <annotation>
            <documentation>A shell is used to represent a single connected component of a solid boundary as specified in ISO 19107:2003, 6.3.8.
Every gml:surfaceMember references or contains one surface, i.e. any element which is substitutable for gml:AbstractSurface. In the context of a shell, the surfaces describe the boundary of the solid. 
If provided, the aggregationType attribute shall have the value "set".
</documentation>
        </annotation>
    </element>
    <complexType name="ShellType">
        <complexContent>
            <extension base="gml:AbstractSurfaceType">
                <sequence>
                    <element ref="gml:surfaceMember" maxOccurs="unbounded"/>
                </sequence>
                <attributeGroup ref="gml:AggregationAttributeGroup"/>
            </extension>
        </complexContent>
    </complexType>
    <element name="surfaceMember" type="gml:SurfacePropertyType">
        <annotation>
            <documentation>This property element either references a surface via the XLink-attributes or contains the surface element. A surface element is any element, which is substitutable for gml:AbstractSurface.</documentation>
        </annotation>
    </element>
    <complexType name="ShellPropertyType">
        <annotation>
            <documentation>A property with the content model of gml:ShellPropertyType encapsulates a shell to represent a component of a solid boundary.</documentation>
        </annotation>
        <sequence>
            <element ref="gml:Shell"/>
        </sequence>
    </complexType>

    <!--  =================================================  -->
    <!-- Types: AbstractGeometricAggregate as a parent for all aggregates (currently MultiPoint, MultiCurve, MultiSurface, MultiSolid and MultiGeometry) -->
    <!--  =================================================  -->
    <element name="AbstractGeometricAggregate" type="gml:AbstractGeometricAggregateType" abstract="true" substitutionGroup="gml:AbstractGeometry">
        <annotation>
            <documentation>gml:AbstractGeometricAggregate is the abstract head of the substitution group for all geometric aggregates.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractGeometricAggregateType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractGeometryType">
                <attributeGroup ref="gml:AggregationAttributeGroup"/>
            </extension>
        </complexContent>
    </complexType>
    <attributeGroup name="AggregationAttributeGroup">
        <annotation>
            <documentation>A GML Object Collection is any GML Object with a property element in its content model whose content model is derived by extension from gml:AbstractMemberType. In addition, the complex type describing the content model of the GML Object Collection may also include a reference to the attribute group gml:AggregationAttributeGroup to provide additional information about the semantics of the object collection. This information may be used by applications to group GML objects, and optionally to order and index them. The allowed values for the aggregationType attribute are defined by gml:AggregationType. See 8.4 of ISO/IEC 11404:1996 for the meaning of the values in the enumeration.</documentation>
        </annotation>
        <attribute name="aggregationType" type="gml:AggregationType"/>
    </attributeGroup>
    <simpleType name="AggregationType" final="#all">
        <restriction base="string">
            <enumeration value="sequence"/>
            <!-- Not used in BRO profile
			<enumeration value="set"/>
			<enumeration value="bag"/>
			<enumeration value="array"/>
			<enumeration value="record"/>
			<enumeration value="table"/> -->
        </restriction>
    </simpleType>

    <!--  =================================================  -->
    <!-- Types: MultiPoint -->
    <!--  =================================================  -->
    <element name="MultiPoint" type="gml:MultiPointType" substitutionGroup="gml:AbstractGeometricAggregate">
        <annotation>
            <documentation> A gml:MultiPoint consists of one or more gml:Points.</documentation>
        </annotation>
    </element>
    <complexType name="MultiPointType">
        <complexContent>
            <extension base="gml:AbstractGeometricAggregateType">
                <sequence>
                    <element ref="gml:pointMember" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Not used in BRO profile
					<element ref="gml:pointMembers" minOccurs="0"/>
                    -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="pointMember" type="gml:PointPropertyType">
        <annotation>
            <documentation>This property element either references a Point via the XLink-attributes or contains the Point element. </documentation>
        </annotation>
    </element>
    <complexType name="MultiPointPropertyType">
        <annotation>
            <documentation>A property that has a collection of points as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none. </documentation>
        </annotation>
        <sequence minOccurs="0">
            <element ref="gml:MultiPoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <!-- Not used in BRO profile
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
        -->
    </complexType>

    <!--  =================================================  -->
    <!-- Types: MultiCurve -->
    <!--  =================================================  -->
    <element name="MultiCurve" type="gml:MultiCurveType" substitutionGroup="gml:AbstractGeometricAggregate">
        <annotation>
            <documentation>A gml:MultiCurve is defined by one or more gml:AbstractCurves.</documentation>
        </annotation>
    </element>
    <complexType name="MultiCurveType">
        <complexContent>
            <extension base="gml:AbstractGeometricAggregateType">
                <sequence>
                    <element ref="gml:curveMember" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Not used in BRO profile
					<element ref="gml:curveMembers" minOccurs="0"/>
                    -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="curveMember" type="gml:CurvePropertyType"/>
    <complexType name="MultiCurvePropertyType">
        <annotation>
            <documentation>A property that has a collection of curves as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none.</documentation>
        </annotation>
        <sequence minOccurs="0">
            <element ref="gml:MultiCurve"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <!-- Not used in BRO profile
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
        -->
    </complexType>

    <!--  =================================================  -->
    <!-- Types: MultiSurface -->
    <!--  =================================================  -->
    <element name="MultiSurface" type="gml:MultiSurfaceType" substitutionGroup="gml:AbstractGeometricAggregate">
        <annotation>
            <documentation>A gml:MultiSurface is defined by one or more gml:AbstractSurfaces.</documentation>
        </annotation>
    </element>
    <complexType name="MultiSurfaceType">
        <complexContent>
            <extension base="gml:AbstractGeometricAggregateType">
                <sequence>
                    <element ref="gml:surfaceMember" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Not used in BRO profile
                    <element ref="gml:surfaceMembers" minOccurs="0"/>
                    -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MultiSurfacePropertyType">
        <annotation>
            <documentation> A property that has a collection of surfaces as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none. </documentation>
        </annotation>
        <sequence minOccurs="0">
            <element ref="gml:MultiSurface"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <!-- Not used in BRO profile
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
		 -->
    </complexType>

    <!--  =================================================  -->
    <!-- Types: MultiSolid -->
    <!--  =================================================  -->
    <element name="MultiSolid" type="gml:MultiSolidType" substitutionGroup="gml:AbstractGeometricAggregate">
        <annotation>
            <documentation>A gml:MultiSolid is defined by one or more gml:AbstractSolids.</documentation>
        </annotation>
    </element>
    <complexType name="MultiSolidType">
        <complexContent>
            <extension base="gml:AbstractGeometricAggregateType">
                <sequence>
                    <element ref="gml:solidMember" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Not used in BRO profile
					<element ref="gml:solidMembers" minOccurs="0"/>
                     -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="solidMember" type="gml:SolidPropertyType">
        <annotation>
            <documentation>This property element either references a solid via the XLink-attributes or contains the solid element. A solid element is any element, which is substitutable for gml:AbstractSolid.</documentation>
        </annotation>
    </element>
    <complexType name="MultiSolidPropertyType">
        <annotation>
            <documentation>A property that has a collection of solids as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none.</documentation>
        </annotation>
        <sequence minOccurs="0">
            <element ref="gml:MultiSolid"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <!-- Not used in BRO profile
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
		 -->
    </complexType>

    <!--  =================================================  -->
    <!-- Types: MultiGeometry as a collection of primitives and/or aggregates -->
    <!--  =================================================  -->
    <element name="MultiGeometry" type="gml:MultiGeometryType" substitutionGroup="gml:AbstractGeometricAggregate">
        <annotation>
            <documentation>gml:MultiGeometry is a collection of one or more GML geometry objects of arbitrary type.</documentation>
        </annotation>
    </element>
    <complexType name="MultiGeometryType">
        <complexContent>
            <extension base="gml:AbstractGeometricAggregateType">
                <sequence>
                    <element ref="gml:geometryMember" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Not used in BRO profile
                    <element ref="gml:geometryMembers" minOccurs="0"/>
                    -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="geometryMember" type="gml:GeometryPropertyType">
        <annotation>
            <documentation>This property element either references a geometry element via the XLink-attributes or contains the geometry element.</documentation>
        </annotation>
    </element>
    <complexType name="MultiGeometryPropertyType">
        <annotation>
            <documentation>A property that has a geometric aggregate as its value domain may either be an appropriate geometry element encapsulated in an element of this type or an XLink reference to a remote geometry element (where remote includes geometry elements located elsewhere in the same document). Either the reference or the contained element shall be given, but neither both nor none.</documentation>
        </annotation>
        <sequence minOccurs="0">
            <element ref="gml:AbstractGeometricAggregate"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <!-- Not used in BRO profile
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
         -->
    </complexType>
</schema>
