src/main/resources/input/KKG/xsd/other/imkad/imkad-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.kadaster.nl/schemas/imkad"
   xmlns:kad="http://www.kadaster.nl/schemas/imkad" xmlns:gml="http://www.opengis.net/gml"
   xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified" version="2.0">

   <xs:annotation>
      <xs:documentation>Dit is het hoofdschema van IMKAD 2.0, het Informatiemodel Kadaster. Voor wijzigingen ten opzichte van de laatst gepubliceerde versie, zie de release notes. </xs:documentation>
   </xs:annotation>

   <xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/gml.xsd"/>
   <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../xlink/1.0.0/xlinks.xsd"/>

   <!--AL adr:namespace vervallen. import is include geworden. -->
   <xs:include schemaLocation="imkad-bag-2.0.xsd"/>
   <xs:include schemaLocation="imkad-gba-2.0.xsd"/>
   <xs:include schemaLocation="imkad-rni-2.0.xsd"/>
   <!--
      <xs:include schemaLocation="imkad-nhr-2.0.xsd"/>
   -->
   <xs:include schemaLocation="imkad-simpletypes-2.0.xsd"/>
   <xs:include schemaLocation="imkad-onderdelen-2.0.xsd"/>

   <xs:element name="LocatieKadastraalObject" type="kad:LocatieKadastraalObject"/>
   <xs:complexType name="LocatieKadastraalObject">
      <xs:annotation>
         <xs:documentation>
De locatie van een kadastraal object. 

De Locatie aanduiding van een kadastraal object wordt bepaald aan de hand van gegevens die:
- de gemeente verstrekt;
- de landmeter van het Kadaster vaststelt;
- wijzigingen in straatnamen, postcodes, e.d. die door de TPG worden verstrekt zolang BRA nog niet operationeel is.

De locatie wordt met behulp van adresgegevens aangeduid. </xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="0">
         <xs:element maxOccurs="1" minOccurs="0" name="adres" type="kad:BinnenlandsAdres">
            <xs:annotation>
               <xs:documentation>Een adres (binnenlandsadres, conform het toekomstige BRA) bestaat uit een woonplaatsnaam, een straatnaam, postcode en huisnummer (eventueel met een huisnummertoevoeging en/of een huisletter). </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="cultuurBebouwd" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Een aanduiding van het bebouwde deel van de cultuur van een locatie. De cultuur geeft iets aan over het gebruik. Het betreft de cultuuraanduiding zoals is omschreven in het brondocument. De waarden zijn vastgelegd in de catalogus "cultuurbebouwd.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadastraleIdentificatie" type="kad:KadID">
            <xs:annotation>
               <xs:documentation>De kadaster identificatie locatie onroerende zaak is een door het Kadaster toegekend landelijk uniek nummer van die locatie.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="xlink:simpleLink"/>
   </xs:complexType>
   <xs:element name="OnroerendeZaakFiliatie" type="kad:OnroerendeZaakFiliatie"/>
   <xs:complexType name="OnroerendeZaakFiliatie">
      <xs:annotation>
         <xs:documentation>Definitie
Een Onroerende zaak filiatie geeft de relatie aan tussen een oude en een nieuwe Onroerende zaak. Het betreft hier de relatie tussen 2 percelen, 2 Appartementsrechten of 2 leidingnetwerken

Toelichting
De betekenis van de relatie is ofwel 'is ontstaan uit' of 'is overgegaan in'. Een onroerende zaak historie geeft aan hoe de Onroerende zaak historisch tot stand is gekomen. Het betreft samenvoegingen en splitsingen van Perceel, Appartementsrecht en Leidingnetwerk</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="aard" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Een aanduiding voor de aard van de filiatie.
Onroerende zaak filiatie wordt gebruikt om aan te geven hoe een onroerende zaak (historisch) tot stand gekomen is. Het geeft aan waarom het ene kadastrale object gerelateerd is aan het andere.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadastraleAanduiding"
            type="kad:KadastraleAanduiding">
            <xs:annotation>
               <xs:documentation>De kadastrale aanduiding is een verwijzing naar een onroerende zaak, waaruit de onderhavige zaak is ontstaan c.q. waarin de onderhavige zaak is overgegaan. 

Percelen worden kadastraal aangeduid door vermelding van achtereenvolgens de kadastrale gemeente en sectie, waarin de percelen en gedeelten van percelen zijn gelegen waarvan het grondgebied tot die zaak behoort, alsmede de nummers van die percelen. Voor een onroerende zaak die zich krachtens een opstalrecht op, in of boven de grond van een ander bevindt, geldt dezelfde kadastrale aanduiding als van de onroerende zaak die met dat opstalrecht is bezwaard. Dit is van overeenkomstige toepassing op een onroerende zaak die zich op, in of boven de grond van een ander bevindt krachtens een recht als bedoeld in het vóór 1 januari 1992 geldende artikel 5, derde lid, onder b, laatste zinsnede, van de Belemmeringenwet Privaatrecht. 

Appartementsrechten worden kadastraal aangeduid door de vermelding van 
achtereenvolgens de kadastrale gemeente en sectie, waarin de in de splitsing betrokken percelen zijn gelegen, de complexaanduiding en de appartementsindex. De complexaanduiding bestaat uit het voor de in de splitsing betrokken percelen vastgestelde complexnummer, gevolgd door de hoofdletter A. Onze Minister stelt regelen vast omtrent de vaststelling van het complexnummer. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadastraleIdentificatie" type="kad:KadID">
            <xs:annotation>
               <xs:documentation>De Kadaster identificatie onroerende zaak historie is een door het Kadaster toegekende landelijk uniek nummer aan een onroerende zaak historie. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="overgangsgrootte" type="kad:D8">
            <xs:annotation>
               <xs:documentation>Een door de Dienst op grond van de kadastrale grenzen van een perceel berekende indicatieve grootte van een perceel bij de ontstaansvorming van dat perceel uit een eerder perceel. Uitgedrukt in centi-ares.

De grootte van een perceel geeft de waarde van de oppervlakte aan en is dus per definitie positief. Door afrondingen is de grootte altijd groter dan of gelijk aan 0,5 ca. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Aantekening" substitutionGroup="kad:RegistratiefGebied" type="kad:Aantekening"/>
   <xs:complexType name="Aantekening">
      <xs:annotation>
         <xs:documentation>Definitie
Een aantekening betreft een verwijzing naar een stuk 
Een aantekening geeft aan welk feit er bestaat, genoemd in een stuk, dat gevolgen kan hebben voor de uitoefening van rechten op de onroerende zaak.

Om vervuiling bij perceelsvernummering te voorkomen kan:
o	Van een aantekening de aangeboden gebiedsbegrenzing kartografisch worden opgenomen. 
o	De begrenzing van de objecten, waarop de aantekening betrekking heeft, bij die aantekening kartografisch worden opgenomen.

Voorbeelden zijn 
-	Wet kenbaarheid publiekrechtelijke beperkingen.
-	Erfdienstbaarheid.
-	Een koopovereenkomst waarvan de inschrijving resulteert in een koperbescherming (art 7:3 BW)
-	Een koop- of voorovereenkomst tot koop waarvan de inschrijving resulteert in kopenberscherming (art 10 Wvg)
-	Het vervallen van de koopovereenkomst of voorovereenkomst tot koop die zijn ingeschreven op grond van art 3:3 BW of artikel 10 Wvg
-	Een voorwaardelijke verkrijging
-	Onderbewindstelling
-	Een rangwisseling hypotheekrecht
-	Algemeen</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:RegistratiefGebied">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="0" name="aard" type="kad:Waardenlijst">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Aantekening is van aard met waarde

Definitie
Aard aantekening is een aanduiding voor de aard van aantekening.
De waarden zijn opgenomen in een catalogus

Mogelijke waarden zijn:
- koopovereenkomst waarvan de inschrijving resulteert in een koperbescherming volgens artikel 7:3 BW
- koopovereenkomst of voorovereenkomst tot koop waarvan de inschrijving resulteert in koperbescherming volgens artikel 10 Wvg
- vervallen van de koopovereenkomsten of  voorovereenkomst tot koop die zijn ingeschreven op grond van artikel 7:3 of artikel 10 Wvg
- voorwaardelijke verkrijging
- erfdienstbaarheid
- kwalitatieve verplichting als in art. 6:252 BW
- onderbewindstelling van een grondstuk
- publiekrechtelijke beperking</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="begrenzingAantekening"
                  type="kad:PolygoonPropertyType">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Door de beheerder vastgestelde omtrek van het gebied (en in de openbare registers ingeschreven), waarop de aantekening betrekking heeft</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="einddatum" type="xs:date">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Aantekening is volgens ingeschreven stuk geldig tot datum

Definitie
Deze einddatum geeft aan wanneer een bepaalde aantekening  volgens het ingeschreven stuk niet langer meer rechtsgeldig is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="1" name="kadastraleIdentificatie"
                  type="kad:KadID">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Aantekening wordt door het Kadaster uniek geidentificeerd door identificatie

Definitie
Unieke door het Kadaster toegekende logische identificatie van een aantekening. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="omschrijving" type="kad:AN124">
                  <xs:annotation>
                     <xs:documentation>definitie
Tekstuele omschrijving van de aantekening</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="verklaringInzakeDerdenBescherming"
                  type="kad:AN50">
                  <xs:annotation>
                     <xs:documentation>Definitie
Een verklaring van de bewaarder dat de vermelding van de aantekening conform de openbare registers is dan wel conform waarneming van de bewaarder is</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="betrokkenPersoon" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:Persoon" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="stukdeelOnstaan" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:Stukdeel" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="stukdeelVervallen" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:Stukdeel" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="betrokkenRecht" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:_PersoonsgebondenRecht"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="vermeldInStukdeel" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:Stukdeel" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="xlink:simpleLink"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AantekeningRecht" type="kad:AantekeningRecht"/>
   <xs:complexType name="AantekeningRecht">
      <xs:annotation>
         <xs:documentation>Een aantekening recht geeft aanvullende informatie over een bestaand feit, genoemd in een brondocument, dat betrekking heeft op het recht en dat gevolgen kan hebben voor de uitoefening van dat recht.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vormtAantekening">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Aantekening" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="KadastraleGrens" substitutionGroup="kad:GeoObject" type="kad:KadastraleGrens"/>
   <xs:complexType name="KadastraleGrens">
      <xs:annotation>
         <xs:documentation>De afbeelding van een grens op de kadastrale kaart. Een kadastrale grens is een grenslijn tussen twee percelen die wordt vastgesteld door een aantal metingen, die coördinaten opleveren die vervolgens verbonden worden tot een lijn of een boog.

KadastraleGrens is een specialisatie van nen3610:GeoObject.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:GeoObject">
            <xs:sequence>
               <xs:element maxOccurs="1" minOccurs="0" name="aard" type="kad:Waardenlijst">
                  <xs:annotation>
                     <xs:documentation>Aanduiding van de aard van de grens. De waarden komen uit de catalogus "aardkadastralegrens.xml". </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="grenslijn"
                  type="kad:LijnOfBoogPropertyType">
                  <xs:annotation>
                     <xs:documentation>Een grenslijn is of een lijn (GML LineString), of een boog (GML ArcString).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="perceelRechts" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:Perceel" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="perceelLinks" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:Perceel" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="_KadastraalObject" substitutionGroup="kad:RegistratiefGebied" abstract="true"
      type="kad:_KadastraalObject"/>
   <xs:complexType abstract="true" name="_KadastraalObject">
      <xs:annotation>
         <xs:documentation>Definitie
Een Kadastraal object is een goed waarvoor bij overdracht of vestiging van rechten inschrijving in de openbare registers van het Kadaster is vereist. 
Een kadastraal object bestaat uit Onroerende zaak en Teboekgestelde zaak.

Toelichting
Een kadastraal object is een Onroerende zaak (Perceel, Appartementsrecht of een Transportsysteem) of een Teboekgestelde zaak (Schip of Luchtvaartuig). Onroerende zaak en Teboekgestelde zaak hebben gemeenschappelijke eigenschappen (er kunnen rechten op worden uitgeoefend, er kan een aantekening bestaan, ed.). Perceel, Appartementsrecht, Transportsysteem, Schip en Luchtvaartuig hebben ieder ook specifieke eigenschappen (Perceel en Transportsysteem worden kartografisch afgebeeld). Bij een kadastraal object wordt aangegeven op grond van welk stuk dit object is ontstaan of vervallen. De historie van Perceel, Appartementsrecht en Transportsysteem wordt vastgelegd door middel van relaties tussen twee percelen, tussen twee appartementsrechten of tussen twee transportsystemen. Deze relatie geeft aan uit welk 'oud' Perceel een 'nieuw' Perceel is ontstaan of uit welk 'oud' Appartementsrecht een 'nieuw' Appartementsrecht is gevormd of uit welk 'oud' Transportsysteem een 'nieuw' Transportsysteem is gevormd. </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:RegistratiefGebied">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="0" name="indicatieMeerObjecten"
                  type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>Indicatie dat de koopsom betrekking heeft op meer dan 1 kadastraal object</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="1" name="kadastraleIdentificatie"
                  type="kad:KadID">
                  <xs:annotation>
                     <xs:documentation>De Kadaster identificatie onroerende zaak is een door het Kadaster toegekende landelijk uniek nummer aan een onroerende zaak. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="koopsom" type="kad:Koopsom">
                  <xs:annotation>
                     <xs:documentation>Het in een ter inschrijving aangeboden stuk vermelde bedrag, waarvoor 1 of meer onroerende zaken zijn verkregen, alsmede het koopjaar en een indicator meer onroerend goed. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ontstaanUitOZ" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:OnroerendeZaakFiliatie" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="overgegaanInOZ" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:OnroerendeZaakFiliatie" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="heeftKadastraleLocatie" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:LocatieKadastraalObject" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="xlink:simpleLink"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Perceel" substitutionGroup="kad:_OnroerendeZaak" type="kad:Perceel"/>
   <xs:complexType name="Perceel">
      <xs:annotation>
         <xs:documentation>Een perceel is Onroerende zaak, onderkend als een deel van het Nederlands grondgebied van welk deel de Dienst de begrenzing met behulp van landmeetkundige gegevens heeft vastgelegd op grond van gegevens betreffende de rechtstoestand, bestemming en het gebruik en dat door zijn kadastrale aanduiding is gekenmerkt. (Definitie is ontleend aan art 1, Kadasterwet). Als onderdeel van het Nederlands grondgebied is het een driedimensionaal ruimtelijk object.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_OnroerendeZaak">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="1" name="aanduidingSoortGrootte"
                  type="kad:TypeAanduidingSoortGrootte">
                  <xs:annotation>
                     <xs:documentation>De Aanduiding soort grootte geeft aan van welke soort de grootte van een Perceel is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="1" name="begrenzingPerceel"
                  type="kad:PolygoonPropertyType">
                  <xs:annotation>
                     <xs:documentation>Het geheel van lijnketens waarmee de vlakomtrek van een perceel wordt gevormd.
Een Perceel is een (2D) vlakvormig ruimtelijk object dat "opdelend" van structuur is. Dit betekent dat Nederland altijd naadloos en volledig is bedekt met perceelsvlakken, die elkaar niet mogen overlappen. De begrenzing van een perceel bestaat uit één of meer Kaartbegrenzingen (gesloten polylijnen). De buitenomtrek wordt altijd door één Kaartbegrenzing gevormd. Indien er enclaves zijn (gebied dat niet tot het perceelsvlak behoort) zijn ook de binnenomtrekken als kaartbegrenzing opgenomen. Elk Perceel wordt begrensd door andere percelen, uitgezonderd diegenen die aan buitenland (Belgie, Duitsland en Noordzee) grenzen. Een Kaartbegrenzing is opgebouwd uit één of meer Kaartlijnen (lijnketens). Elke niet onderbroken begrenzing tussen precies 2 percelen noemen we een Kaartlijn. De topologische relatie tussen 2 vlakbegrenzingen van aangrenzende percelen wordt afgedwongen doordat hun gemeenschappelijke begrenzing door dezelfde Kaartlijn wordt gevormd.
Een Kaartlijn ofwel lijnketen is opgebouwd uit opeenvolgend aansluitende kaartlijndelen, bestaande uit rechte en cirkelboogvormige lijnstukken.
Hoewel momenteel in de kadastrale percelenstructuur geen exclaves (buitenliggende vlakken) voorkomen, doet dit aan de definitie van Begrenzing perceel niets af.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="kadastraleGrootte" type="kad:D8">
                  <xs:annotation>
                     <xs:documentation>Een door de Dienst op grond van de kadastrale grenzen van een perceel berekende indicatieve grootte van een perceel ten tijde van vorming van dat perceel. Uitgedrukt in centi-ares. 
De grootte van een perceel geeft de waarde van de oppervlakte aan en is dus per definitie positief. Door afrondingen is de grootte altijd groter dan of gelijk aan 0,5 ca. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="omschrijvingDeelpercelen"
                  type="kad:AN20">
                  <xs:annotation>
                     <xs:documentation>Het in een ter inschrijving aangeboden stuk beschreven tekst, dat een nadere omschrijving geeft van het gekochte deel van een perceel. 
Noot: de tekst is afkomstig van een register-9 post: een opdracht tot meting van een perceel. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="perceelnrRotatie" type="kad:D9.7">
                  <xs:annotation>
                     <xs:documentation>Rotatie van het perceelnummer ten behoeve van afbeelding op de kaart. Perceelnummers worden bijvoorbeeld gekanteld om in een smal perceel te passen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="perceelnrVerschuiving"
                  type="kad:PerceelnrVerschuiving">
                  <xs:annotation>
                     <xs:documentation>Coördinaten voor het verschuiven van het perceelnummer op de kaart naar een locatie waar meer ruimte is om het nummer af te beelden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="plaatscoordinaten" type="gml:PointType">
                  <xs:annotation>
                     <xs:documentation> De aanduiding van een kaartpunt voor de weergave van de identificatie van een perceel (centroïde).

Door de keuze van het nulpunt geldt dat zowel de x-coordinaat als de y-coordinaat altijd positief zijn.  </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Leidingnetwerk" substitutionGroup="kad:_OnroerendeZaak"
      type="kad:Leidingnetwerk"/>
   <xs:complexType name="Leidingnetwerk">
      <xs:annotation>
         <xs:documentation>Definitie
Een leidingnetwerk is een onroerende zaak. 
Een leidingnetwerk is een net, bestaande uit een of meer kabels of leidingen, bestemd voor transport van vaste, vloeibare of gasvormige stoffen, van energie of van informatie, dat in, op of boven de grond is of wordt aangelegd (art. 1 sub c Kadasterbesluit).

Toelichting
Leidingnetwerken worden geometrisch weergegeven door een "niet opdelend" vlak, een polylijn of m.b.v. netwerktopologie. Vlakken zijn niet opdelend van karakter, d.w.z. dat géén geometrische relaties (b.v. aansluitendheid) tussen verschillende exemplaren bestaan. </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_OnroerendeZaak">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="1" name="aard" type="kad:Waardenlijst">
                  <xs:annotation>
                     <xs:documentation> De omschrijving van de soort netwerk. Enumeratie (olie, gas, water, elektra, telecom). 
De waarden zijn opgenomen in de catalogus "aardleidingnetwerk.xml". </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="begrenzing"
                  type="kad:VlakOfMultiLijnPropertyType">
                  <xs:annotation>
                     <xs:documentation>Het geheel van lijnketens waarmee de ligging van een Leidingnetwerk geometrisch wordt aangegeven.
De begrenzing van een leidingnetwerk kan zowel lijnvormig als vlakvormig worden beschreven. Lijnvormig houdt in dat het leidingnetwerk bestaat uit een netwerk van lijnketens, die onderling minimaal een punt in de keten gemeenschappelijk hebben. Vlakvormig houdt in dat de lijnketens onderling zodanig met elkaar zijn verbonden dat een vlakvormige figuur (polylijn) is af te leiden. In het lijnvormige geval kan ook de strookbreedte, waarbinnen de grenslijn ligt, zijn opgenomen. In zo'n geval is, indien nodig, een vlakvormige figuur te berekenen. </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Appartementsrecht" substitutionGroup="kad:_OnroerendeZaak"
      type="kad:Appartementsrecht"/>
   <xs:complexType name="Appartementsrecht">
      <xs:annotation>
         <xs:documentation>
Een appartementsrecht is een onroerende zaak. 
Onder appartementsrecht  wordt verstaan een aandeel in de goederen die in de splitsing zijn betrokken, dat de bevoegdheid omvat tot het uitsluitend gebruik van bepaalde gedeelten van het gebouw die blijkens hun inrichting bestemd zijn of worden om als afzonderlijk geheel te worden gebruikt. Het aandeel kan mede omvatten de bevoegdheid tot het uitsluitend gebruik van bepaalde gedeelten van de bij het gebouw behorende grond. In het geval van lid 2 omvat het aandeel de bevoegdheid tot het uitsluitend gebruik van bepaalde gedeelten van het stuk grond, die blijkens hun inrichting of aanduiding bestemd zijn of worden om als afzonderlijk geheel te worden gebruikt. (art. 5:106 lid 4 BW). </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_OnroerendeZaak">
            <xs:sequence minOccurs="0">
               <xs:element name="behoortTot">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:AppRechtComplex" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="tekening" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:Stukdeel" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AantekeningKadastraalObject" type="kad:AantekeningKadastraalObject"/>
   <xs:complexType name="AantekeningKadastraalObject">
      <xs:annotation>
         <xs:documentation>Een aantekening kadastraal object geeft aanvullende informatie over een bestaand feit, genoemd in een stuk, dat betrekking heeft op een onroerende zaak en dat gevolgen kan hebben voor de uitoefening van rechten op de onroerende zaak.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="aanduidingErfdienstbaarheid"
            type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>betekenis
Aantekening Kadastraal object betreft dienende of heersende of dienende en heersende erfdienstbaarheid.

Definitie
Aanduiding erfdienstbaarheid geeft aan of het betrokken object het diended erf, het heersend erf dan wel het dienend en het heersend erf vormt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vormtAantekening">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Aantekening" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="heeftBetrekkingOpKadastraalObject" maxOccurs="1" minOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:_KadastraalObject"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="_Stuk" type="kad:_Stuk" abstract="true"/>
   <xs:complexType abstract="true" name="_Stuk">
      <xs:annotation>
         <xs:documentation>Stuk is een aanduiding voor een document dat gevolgen kan hebben voor de inhoud van de kadastrale registratie. Een Stuk is een Ter inschrijving aangeboden stuk of een Kadasterstuk.

Een stuk bestaat uit een of meer stukdelen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="bijlage" type="kad:Bijlage">
            <xs:annotation>
               <xs:documentation> Een document dat is toegevoegd aan een stuk  </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadastraleIdentificatie" type="kad:KadID">
            <xs:annotation>
               <xs:documentation>Een kadaster identificatie stuk is een door het Kadaster vastgestelde unieke aanduiding voor een document dat gevolgen kan hebben voor de inhoud van de kadastrale registratie. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="onderdelen" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Stukdeel" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AangebodenStuk" substitutionGroup="kad:_Stuk" type="kad:AangebodenStuk"/>
   <xs:complexType name="AangebodenStuk">
      <xs:annotation>
         <xs:documentation>Een ter inschrijving aangeboden stuk is een stuk dat ter inschrijving in de Openbare registers is aangeboden. Deze stukken worden aangeboden door het notariaat, deurwaarders, (lagere) overheden. etc.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_Stuk">
            <xs:sequence>
               <xs:element maxOccurs="1" minOccurs="1" name="deelEnNummer" type="kad:DeelEnNummer">
                  <xs:annotation>
                     <xs:documentation>Bevat de door het Kadaster vastgestelde unieke identificatie van alle ter inschrijving aangeboden stukken.

Deel en nummer identificeren een Ter Inschrijving Aangeboden stuk door gebruik te maken van vier gegevenselementen. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="tijdstipAanbieding" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Het tijdstip waarop een ter inschrijving aangeboden stuk is ontvangen met in achtneming van de openingstijden en -dagen van het Kadaster. Als tijdstip van inschrijving geldt het tijdstip van aanbieding van de voor de inschrijving vereiste stukken. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="tijdstipOndertekening"
                  type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Het tijdstip waarop een ter inschrijving aangeboden stuk is ondertekend door de opsteller van het stuk. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="ondertekenaarOorspronkelijkStuk"
                  type="kad:Ondertekenaar"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Kadasterstuk" substitutionGroup="kad:_Stuk" type="kad:Kadasterstuk"/>
   <xs:complexType name="Kadasterstuk">
      <xs:annotation>
         <xs:documentation>Een Kadasterstuk is een stuk dat gevolgen kan hebben voor de gegevens in de basisregistratie, maar dat niet ter inschrijving in de openbare registers is aangeboden.

Het betreft mededelingen van een belanghebbende, interne correctie stukken, e.d. </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_Stuk">
            <xs:sequence>
               <xs:element maxOccurs="1" minOccurs="0" name="AKRPortefeuilleNr" type="kad:AN16">
                  <xs:annotation>
                     <xs:documentation>Portefeuillenummer toegekend aan het stuk in het AKR systeem. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="soort" type="kad:Waardenlijst">
                  <xs:annotation>
                     <xs:documentation>Aanduiding soort kadasterstuk is een aanduiding voor de aard van het Kadasterstuk. De mogelijke waarden zijn vermeld in de catalogus "soortkadasterstuk.xml". </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="ZakelijkRecht" type="kad:ZakelijkRecht"/>
   <xs:complexType name="ZakelijkRecht">
      <xs:annotation>
         <xs:documentation>Een recht is een door een complex van rechtsregels verleende en beschermende bevoegdheid van een persoon. 
Het meest omvattende recht dat een persoon op een zaak kan hebben is de eigendom (art. 5:1 BW). Uit dit recht kunnen beperkte rechten worden afgeleid en hiermee worden bezwaard (art. 3:8 BW). 
Beperkte rechten zijn te vinden in de boeken 3 en 5 BW. (erfpacht, opstal, vruchtgebruik), zijn rechten van voor 1992 (beklemrecht en zakelijk recht als bedoeld in de Belemmeringenwet privaatrecht) en zijn oud vaderlandse rechten (bijv. visrechten, grondrente enz).</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="0">
         <xs:element maxOccurs="1" minOccurs="0" name="bedragErfpachtscanon" type="kad:Bedrag">
            <xs:annotation>
               <xs:documentation>Defintie
Het bedrag dat de erfpachter periodiek verschuldigd is voor uitoefening van het erfpachtsrecht op 1 of meer kadastrale objecten</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="benamingRecht" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>
Benaming recht is is een aanduiding voor de aard van het recht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="einddatum" type="xs:date">
            <xs:annotation>
               <xs:documentation>De einddatum recht is de laatste dag waarop het recht volgens het brondocument, op grond waarvan het recht is opgevoerd, nog van toepassing zal zijn.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadasterIdentificatie" type="kad:KadID">
            <xs:annotation>
               <xs:documentation>Definitie:
Recht wordt door het Kadaster uniek geidentificeerd door nummer met waarde</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="rustOpKadastraalObject" maxOccurs="1" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Onroerende zaak waar het recht betrekking op heeft.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:_KadastraalObject"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="heeftRelatieMetZakelijkRecht" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:ZakelijkRecht" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="vormtAppRechtComplex" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:AppRechtComplex" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="wordtOmvatDoor" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Mandeligheid" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isBestemdTot" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Mandeligheid" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="xlink:simpleLink"/>
   </xs:complexType>
   <xs:element name="Beslag" substitutionGroup="kad:_Zekerheidsrecht" type="kad:Beslag"/>
   <xs:complexType name="Beslag">
      <xs:annotation>
         <xs:documentation>Een beslag is een middel tot uitwinning van een recht op een onroerende zaak, danwel tot levering van die onroerende zaak.

Een beslag is een voorlopige maatregel waarbij bijv. de overheid al dan niet op vordering van een belanghebbende bepaalde zaken aan de vrije beschikking van de eigenaar of anderen onttrekt ofwel deze onder zich neemt.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_Zekerheidsrecht">
            <xs:sequence minOccurs="0"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Hypotheek" substitutionGroup="kad:_Zekerheidsrecht" type="kad:Hypotheek"/>
   <xs:complexType name="Hypotheek">
      <xs:annotation>
         <xs:documentation>Een hypotheek is een zekerheidsrecht
Een hypotheek is een beperkt recht van een geldgever op een onroerende zaak van een geldnemer (de schuldenaar). </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_Zekerheidsrecht">
            <xs:sequence minOccurs="0"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="TypeAanduidingSoortGrootte">
      <xs:annotation>
         <xs:documentation>Aanduiding soort grootte geeft aan van welke soort de kadastrale grootte van een Perceel is</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Vastgesteld"/>
         <xs:enumeration value="Voorlopig"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Persoon" type="kad:Persoon"/>
   <xs:complexType name="Persoon">
      <xs:annotation>
         <xs:documentation>Een persoon is een Natuurlijk persoon of een Niet Natuurlijk persoon.  
- Een natuurlijk persoon is een individueel menselijk wezen (NEN 1888)
- Een niet natuurlijk persoon is een bedrijf of een rechtspersoon

Eén persoon kan verschillende rollen hebben. Een persoon kan bijvoorbeeld eigenaar zijn van een onroerende zaak, een hypotheekhouder van een Hypotheek, als partner betrokken bij de verkrijging van een recht, etc. 

BRK gebruikt de gegevens van personen uit andere basisregistraties GBA, NHR, of RNI. Daarnaast kent het Kadaster gegevens van personen die niet als authentiek zijn opgenomen in andere basisregistraties
In totaal worden vijf soorten personen onderscheiden: 
- Ingezetene. Een ingezetene is een natuurlijk persoon die is geregistreerd bij GBA en die een BSN heeft. De attributen zijn gedefinieerd in de Catalogus GBA.
- Niet ingezetene; een natuurlijk persoon die geen ingezetene in Nederland is (in de toekomst: geregistreerd bij RNI). Er is nog geen Catalogus RNI. BRK hanteert voorlopig de attributen van KAD natuurlijk persoon, aangevuld met gegevens omtrent de nationaliteit.
- KAD natuurlijk persoon; een natuurlijk persoon die noch bij GBA, noch bij RNI geregistreerd staat.
- Rechtspersoon. Een Nederlands rechtspersoon die geregistreerd is bij de NHR.  De attributen zijn gedefinieerd in de Catalogus NHR.
- KAD niet natuurlijk persoon; een rechtspersoon die niet bij de NHR geregistreerd staat.

De regels voor levering zijn dus als volgt. 
Natuurlijke personen:
- wanneer de persoon een BSN heeft: Ingezetene
- wanneer de persoon een buitenlands adres heeft: NietIngezetene.
- in alle andere gevallen KADNatuurlijkPersoon (restcategorie).
Niet Natuurlijke personen:
- wanneer de persoon een FI-nummer (bedrijvennummer) heeft: Rechtspersoon.
- wanneer van de persoon het FI-nummer niet bekend is: KADNietNatuurlijkPersoon.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="0">
         <xs:element maxOccurs="1" minOccurs="0" name="AKRSubjectNr" type="kad:N10">
            <xs:annotation>
               <xs:documentation>Identificatiecode geleverd door het AKR systeem.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vermeldInStukdeel" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Stukdeel" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="beschikkingsbevoegdheid"
            type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Aanduiding van de beschikkingsbevoegdheid van een persoon. 
De waarden zijn opgenomen in de catalogus "beschikkingsbevoegdheid.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="HYPSubjectNr" type="kad:AN10">
            <xs:annotation>
               <xs:documentation>Identificatiecode geleverd door het HYP systeem. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadastraleIdentificatie" type="kad:KadID">
            <xs:annotation>
               <xs:documentation>De Kadaster identificatie persoon is een door het Kadaster toegekende landelijk uniek nummer aan een persoon.  </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="heeftBestuuurder" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Persoon" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Domiciliekeuze"
            type="kad:Domiciliekeuze"/>
         <xs:element maxOccurs="1" minOccurs="0" name="PersoonKeuze" type="kad:PersoonKeuze"/>
         <xs:element maxOccurs="1" minOccurs="0" name="WoonlocatiePersoon"
            type="kad:WoonlocatiePersoon"/>
         <xs:element maxOccurs="1" minOccurs="0" name="PostlocatiePersoon"
            type="kad:PostlocatiePersoon"/>
         <xs:element name="betrokkenBijVerkrijging" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:PersoonRecht" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="xlink:simpleLink"/>
   </xs:complexType>
   <xs:element name="Stukdeel" type="kad:Stukdeel"/>
   <xs:complexType name="Stukdeel">
      <xs:annotation>
         <xs:documentation>In een stuk kunnen verschillende transacties (rechtsfeiten) zijn vermeld. De gegevens van een transactie worden in stukdeel weergegeven.</xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="0">
         <xs:element maxOccurs="1" minOccurs="0" name="aardBeslag" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Het soort beslag wordt omschreven met een CBS-code. De waarden zijn vastgelegd in de catalogus "aardbeslag.xml". 

Het soort beslag is bij het stukdeel (en dus het rechtsfeit) opgenomen en niet bij het beslag omdat het gegeven geldt per feit. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="aardStukdeel" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Aanduiding aard stukdeel is een aanduiding voor de aard van een deel van het ter inschrijving aangeboden stuk (rechtsfeit). De mogelijke waarden zijn vermeld in de catalogus "aardstukdeel.xml". </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="bedragTransactieLevering" type="kad:Bedrag">
            <xs:annotation>
               <xs:documentation>Het in een ter inschrijving aangeboden stuk vermelde bedrag, waarvoor 1 of meer onroerende zaken zijn verkregen.

In een stuk kunnen verschillende transacties zijn vermeld, met verschillende transactiesom. Per stukdeel (transactie) is de transactiesom weergegeven. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="bedragVorderingsbeslag" type="kad:Bedrag">
            <xs:annotation>
               <xs:documentation>Het bedrag waarvoor beslag is gelegd. Indien bij een beslag verschillende bedragen voorkomen, dan worden deze bedragen getotaliseerd. Dit is dan aangegeven in het aard attribuut van Bedrag. 

Bestaat uit bedrag vordering, met bedrag en valutasoort, en indicatie verschillende bedragen. 

De vordering is bij het stukdeel (en dus het rechtsfeit) opgenomen en niet bij het beslag omdat het gegeven geldt per feit. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="bedragZekerheidsstellingHypotheek"
            type="kad:Bedrag">
            <xs:annotation>
               <xs:documentation>Betekenis
Zekerheidsstelling hypotheek is op 1 of meer kadastrale objecten verleend ter grootte van Bedrag.

Definitie
Het bedrag waarvoor hypothecaire zekerheid is gegeven. De vermelde hoofdsom is het bedrag waarvoor het recht van Hypotheek is gevestigd (dus niet het bedrag van de geldlening).

Toelichting</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="bijwerkingOpgeschort" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Betekenis
Stukdeel is al dan niet (geheel) verwerkt

Definitie
Indicatie geeft aan of de bijwerking van het stukdeel is opgeschort.

Toelichting</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadastraleIdentificatie" type="kad:KadID">
            <xs:annotation>
               <xs:documentation>Een kadaster identificatie stukdeel is een door het Kadaster vastgestelde unieke aanduiding voor een gedeelte van een stuk. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="isAanvullingOp" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Stukdeel" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="xlink:simpleLink"/>
   </xs:complexType>
   <xs:element name="_Zekerheidsrecht" substitutionGroup="kad:_PersoonsgebondenRecht"
      abstract="true" type="kad:_Zekerheidsrecht"/>
   <xs:complexType abstract="true" name="_Zekerheidsrecht">
      <xs:annotation>
         <xs:documentation>Een zekerheidsrecht is een beperkt recht (hypotheek) of een beperking (beslag). Een hypotheek is een beperkt recht van een hypotheekhouder op een kadastraal object. Een beslag is een middel tot beperking, uitwinning, bewaring of vervreemding van een recht op een onroerende zaak.

Een zekerheidsrecht vormt:  
- de relatie tussen één persoonsrecht en één Persoon en geeft aan welke persoon betrokken is als hypotheekhouder of beslaglegger bij een Hypotheek danwel een Beslag op een recht van een onderzetter of
- de relatie tussen één Kadastraal object en één Persoon en geeft aan welke persoon betrokken is als hypotheekhouder of beslaglegger bij een Hypotheek danwel een Beslag op een Kadastraal object

Een zekerheidsrecht heeft betrekking een recht van de onderzetter. Als bij het registreren van het zekerheidsrecht blijkt dat de onderzetter geen gerechtigde is, dan wordt het zekerheidsrecht gerelateerd aan het kadastraal object.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_PersoonsgebondenRecht">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="0" name="aandeelInBetrokkenRecht"
                  type="kad:Aandeel">
                  <xs:annotation>
                     <xs:documentation>
Het zekerheidsrecht heeft betrekking op een aandeel in het betrokken recht, waaran wordt gerefereerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="omschrijvingBetrokkenRecht"
                  type="kad:Waardenlijst">
                  <xs:annotation>
                     <xs:documentation>Eenbeschrijving van het recht waarop het zekerheidsrecht betrekking heeft.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="rustOpKadastraalObject" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:_KadastraalObject"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="rustOpPersoonRecht" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:PersoonRecht" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="_OnroerendeZaak" substitutionGroup="kad:_KadastraalObject" abstract="true"
      type="kad:_OnroerendeZaak"/>
   <xs:complexType abstract="true" name="_OnroerendeZaak">
      <xs:annotation>
         <xs:documentation>Een Onroerende zaak is een Kadastraal object 
Een Onroerende zaak bestaat uit perceel, een appartementsrecht of een leidingnetwerk.

Zaken zijn de voor menselijke beheersing vatbare stoffelijke objecten. Onroerende zaken zijn de grond, de nog niet gewonnen delfstoffen, de met de grond verenigde beplantingen, alsmede de gebouwen en werken die duurzaam met de grond zijn verenigd, hetzij rechtstreeks, hetzij door vereniging met andere gebouwen of werken (art. 3:2 jo 3:3 lid 1 BW).

Een onroerende zaak wordt aangeduid met een Kadastrale aanduiding Dit is een unieke aanduiding van een onroerende zaak, die door het kadaster wordt vastgesteld.

Percelen worden kadastraal aangeduid door vermelding van achtereenvolgens de kadastrale gemeente en sectie, waarin de percelen en gedeelten van percelen zijn gelegen waarvan het grondgebied tot die zaak behoort, alsmede de nummers van die percelen. Voor een onroerende zaak die zich krachtens een opstalrecht op, in of boven de grond van een ander bevindt, geldt dezelfde kadastrale aanduiding als van de onroerende zaak die met dat opstalrecht is bezwaard. Dit is van overeenkomstige toepassing op een onroerende zaak die zich op, in of boven de grond van een ander bevindt krachtens een recht als bedoeld in het voor 1 januari 1992 geldende artikel 5, derde lid, onder b, laatste zinsnede, van de Belemmeringenwet Privaatrecht. 

Appartementsrechten worden kadastraal aangeduid door de vermelding van achtereenvolgens de kadastrale gemeente en sectie, waarin de in de splitsing betrokken percelen zijn gelegen, de complexaanduiding en de appartementsindex. De complexaanduiding bestaat uit het voor de in de splitsing betrokken percelen vastgestelde complexnummer, gevolgd door de hoofdletter A. Onze Minister stelt regelen vast omtrent de vaststelling van het complexnummer. </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_KadastraalObject">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="0" name="cultuurOnbebouwd"
                  type="kad:CultuurOnbebouwd">
                  <xs:annotation>
                     <xs:documentation>Een aanduiding voor het onbebouwde gedeelte van de cultuur van een onroerende zaak. De cultuur geeft de aard van het gebruik aan. 

Het betreft de cultuuraanduiding zoals is omschreven in het brondocument. De cultuuraanduiding bestaat uit Bebouwscode en Aard cultuur onbebouwd. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="1" name="kadastraleAanduiding"
                  type="kad:KadastraleAanduiding">
                  <xs:annotation>
                     <xs:documentation>De unieke aanduiding van een onroerende zaak door vermelding van achtereenvolgens de kadastrale gemeente en sectie, waarin de percelen en gedeelten van percelen zijn gelegen waarvan het grondgebied tot die zaak behoort, alsmede de nummers van die percelen. Art. 2 lid 1 Kadasterbesluit</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="5" minOccurs="0" name="landinrichtingsrente"
                  type="kad:Landinrichtingsrente">
                  <xs:annotation>
                     <xs:documentation>Landinrichtingsrente is het bedrag waarmee de Onroerende zaak is belast in het kader van de landinrichtingswet.
Opgebouwd uit de onderdelen Aanduiding Landinrichtingsrente, Bedrag Landinrichtingsrente, en Eindjaar Landinrichtingsrente.

Als twee percelen met elk  landinrichtingsrente-gegevens met verschillende eindjaren verenigd worden, worden beide landinrichtingsrente-gegevensgroepen bij het nieuwe perceel opgenomen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0"
                  name="omschrijvingOnderzoekErfdienstbaarheden" type="kad:Memo">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Onroerende zaak kent enkel erfdienstbaarheden vanaf  een bepaalde gebeurtenis zoals omschrijven

Toelichting
Het onderzoek erfdienstbaarheden is uitgevoerd vanaf een bepaalde gebeurtenis. Voordien bestaan geen relevante erfdienstbaarheden.

Mogelijke waarden zijn:
- Onteigening
- Nieuwbouw
- Toedeling landinrichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0"
                  name="toestandsdatumOnderzoekErfdienstbaarheden" type="xs:date">
                  <xs:annotation>
                     <xs:documentation>Definitie
Het onderzoek erfdienstbaarheden is m.b.t. onroerende zaak uitgevoerd tot en met een bepaalde datum in het verleden. Eventueel voor die datum ingeschreven stukken inzake erfdienstbaarheden zijn niet vermeld. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="inOnderzoek" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:InOnderzoek" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="PersoonRecht" substitutionGroup="kad:_PersoonsgebondenRecht"
      type="kad:PersoonRecht"/>
   <xs:complexType name="PersoonRecht">
      <xs:annotation>
         <xs:documentation>Definitie
Een PersoonRecht vormt de relatie tussen een Recht en een Persoon en geeft aan welk recht, met uitzondering van hypotheek en beslag, door een Persoon wordt uitgeoefend op een Kadastraal object.

Toelichting
Rechten worden beschouwd vanuit één Kadastraal object. PersoonRecht heeft betrekking op de eigendom van die Persoon van één Kadastraal object of op een beperkt recht van die Persoon op één Kadastraal object. Met een beperkt recht op een Kadastraal object wordt erfpacht, opstal, ed. bedoeld, maar ook huur en lease (van Luchtvaartuigen). Ook rechten die zijn verkregen onder opschortende c.q. ontbindende voorwaarden worden beschouwd als een vorm van Recht. Bij recht kan een tekstuele beschrijving worden opgenomen. Een dergelijke beschrijving is een nadere omschrijving van de aard en de inhoud van het recht.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_PersoonsgebondenRecht">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="0" name="aandeelInRecht" type="kad:Aandeel">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Recht omvat aandeel met waarde.

Definitie
Aandeel in Recht is het aandeel waarvoor een persoon deelneemt in het Recht.

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="indicatieOntbindendeVoorwaarde"
                  type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>Definitie:
Indicatie Ontbindende voorwaarden geeft aan dat het recht door rechthebbende al dan niet onder een ontbindende voorwaarde is verkregen. De voorwaarde wordt omschreven in de in de desbetreffende ingeschreven akte.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="leefvormtTenTijdeVanVerkrijging"
                  type="kad:Waardenlijst">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Persoon heeft leefvorm met waarde

Definitie
Leefvorm is een aanduiding voor de leefvorm van een persoon

Toelichting
Leefvorm van een persoon heeft betrekking op huwelijk c.q. geregistreerd partnerschap.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="totaalAandeel" type="kad:Aandeel">
                  <xs:annotation>
                     <xs:documentation>Totaal aandeel geeft aan dat verschillende persoonsrechten tesamen een bepaald aandeel vertegenwoorden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="vanZakelijkRecht">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:ZakelijkRecht" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="overgegaanVanuit" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:PersoonRechtFiliatie" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="ontstaanVanuit" minOccurs="0">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kad:PersoonRechtFiliatie" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="TypeAanduidingErfdienstbaarheid">
      <xs:annotation>
         <xs:documentation>Aanduiding erfdienstbaarheid geeft aan of het betrokken object het diendend erf, het heersend erf dan wel het dienend en het heersend erf vormt.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="dienend"/>
         <xs:enumeration value="heersend"/>
         <xs:enumeration value="dienend en heersend"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="GeoObject" substitutionGroup="gml:_Feature" abstract="true"
      type="kad:GeoObject"/>
   <xs:complexType abstract="true" name="GeoObject">
      <xs:annotation>
         <xs:documentation>Een geo-object is een abstractie van een fenomeen in de werkelijkheid, dat
direct of indirect is geassocieerd met een locatie relatief ten opzichte van het
aardoppervlak. Bron: NEN3610.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="AppRechtComplex" type="kad:AppRechtComplex"/>
   <xs:complexType name="AppRechtComplex">
      <xs:annotation>
         <xs:documentation>Definitie
Het geheel van rechten op 1 of meer kadastrale objecten dat is (onder)gesplitst in appartementsrechten

Toelichting
Een appartementsrechtcomplex is een hoofdcomplex of een subcomplex</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="verenigingVanEigenaren">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Persoon" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isGebaseerdOp">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Stukdeel" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RegistratiefGebied" substitutionGroup="kad:GeoObject" abstract="true"
      type="kad:RegistratiefGebied"/>
   <xs:complexType abstract="true" name="RegistratiefGebied">
      <xs:annotation>
         <xs:documentation>Op basis van wet- en regelgeving afgebakend gebied dat als eenheid geldt van
politiek/bestuurlijke verantwoordelijkheid of voor bedrijfsvoering. Bron: NEN3610.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:GeoObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TeboekgesteldeZaak" substitutionGroup="kad:_KadastraalObject"
      type="kad:TeboekgesteldeZaak"/>
   <xs:complexType name="TeboekgesteldeZaak">
      <xs:annotation>
         <xs:documentation>Een teboekgestelde zaak is een Kadastraal object dat bestaat uit een Luchtvaartuig of een Schip.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:_KadastraalObject">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="0" name="bouwjaar" type="kad:AN4">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Aanbouw Teboekgestelde zaak is aangevangen in Jaar

Definitie
Bouwjaar begin Teboekgestelde zaak geeft aan in welk jaar men met de bouw is begonnen

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="bouwnummerAanbouw" type="kad:AN10">
                  <xs:annotation>
                     <xs:documentation>Betekenis

Definitie

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="bouwplaats" type="kad:AN8">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Teboekgestelde zaak is gebouwd in Gemeente.

Definitie
Bouwplaats is de aanduiding van de plaats waar de Teboekgestelde zaak is gebouwd.

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="naam" type="kad:AN30">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Teboekgestelde zaak is geregistreerd met Naam

Definitie
Een Teboekgestelde zaak kan (in de tijd gezien) onder verschillende namen bekend zijn geweest.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="heeftMotor" type="kad:Motor"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Luchtvaartuig" substitutionGroup="kad:TeboekgesteldeZaak"
      type="kad:Luchtvaartuig"/>
   <xs:complexType name="Luchtvaartuig">
      <xs:annotation>
         <xs:documentation>Definitie
Een luchtvaartuig is een Teboekgestelde zaak, gekenmerkt als een toestel dat in de dampkring kan worden gehouden tengevolge van de krachten welke de lucht daarop uitoefent.

Toelichting
Tot het luchtvaartuig behoren het casco, de motoren, de luchtschroeven, de radiotoestellen en andere voorwerpen bestemd voor gebruik in of aan het toestel, onverschillig of zij daarin of daaraan zijn aangebracht dan wel tijdelijk ervan zijn gescheiden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:TeboekgesteldeZaak">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="0" name="boekingsnummer" type="kad:Memo">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Luchtvaartuig wordt door Kadaster uniek geidentificeerd met nummer.

Definitie
Het boekingsnummer is het door het kadaster toegekende unieke nummer van een Luchtvaartuig.

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="fabrikant" type="kad:Memo">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Luchtvaartuig is vervaardigd door Fabrikant met Naam.

Definitie
Fabrikant Luchtvaartuig is de maker van een Luchtvaartuig.

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="maximaalToegelatenMassa"
                  type="kad:Memo">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Luchtvaartuig heeft maximaal startgewicht van grootte.

Definitie

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="nationaliteitsEnInschrijvingskenmerk"
                  type="kad:Memo">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Luchtvaartuig is door de Rijksluchtvaartdienst uniek geidentificeerd met kenmerk.

Definitie
Het Nationaliteits- en inschrijvingskenmerk is een kenmerk, uitgegeven door de Rijksluchtvaartdienst, dat luchtvaartuigen uniek identificeert.

Toelichting
Het Nationaliteits- en inschrijvingskenmerk is het PH-nummer.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="plaatsSerienummer" type="kad:Memo">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Luchtvaartuig heeft Serienummer dat is aangebracht op Plaats.

Definitie
Plaats Serienummer is de plaats op het Luchtvaartuig waar het Serienummer is aangebracht.

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="serienummer" type="kad:Memo">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Luchtvaartuig wordt geidentificeerd door middel van nummer.

Definitie

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="type" type="kad:Memo">
                  <xs:annotation>
                     <xs:documentation>Betekenis
Luchtvaartuig is van type

Definitie

Toelichting</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Schip" substitutionGroup="kad:TeboekgesteldeZaak" type="kad:Schip"/>
   <xs:complexType name="Schip">
      <xs:annotation>
         <xs:documentation>Een schip is Teboekgestelde zaak, gekenmerkt als een schip, dat bij het Kadaster te boek is gesteld door het toegekend brandmerknummer.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:TeboekgesteldeZaak">
            <xs:sequence minOccurs="0">
               <xs:element maxOccurs="1" minOccurs="0" name="bouwwerf" type="kad:AN120">
                  <xs:annotation>
                     <xs:documentation>
Bouwwerf is een aanduiding van de werf in Nederland waar het Schip wordt of is gebouwd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="brandmerk" type="kad:BrandmerkSchip">
                  <xs:annotation>
                     <xs:documentation>
Het brandmerk vormt de unieke identificatie van een Schip.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="breedte" type="kad:AN10">
                  <xs:annotation>
                     <xs:documentation>
Breedte is een aanduiding voor de breedte van een Schip in centimeters.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="datumDoorhaling" type="xs:date">
                  <xs:annotation>
                     <xs:documentation>Datum waarop de teboekstelling is beeindigd</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="diepgang" type="kad:AN10">
                  <xs:annotation>
                     <xs:documentation>
Diepgang is de afstand in centimeters van de waterlijn tot het laagste punt van een Schip onder water in maximaal (toegestane) geladen toestand.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="inhoud" type="kad:AN60">
                  <xs:annotation>
                     <xs:documentation>
Inhoud in kubieke meters (B-schepen) of in grosstonnage (Z en V-schepen).

Toelichting
Bij een (Zee)visserijschip of een Zeeschip wordt als inhoud opgegeven de bruto inhoud of het tonnage, bij een binnenvaartschip wordt als inhoud opgegeven de verplaatsing of het laadvermogen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="inrichting" type="kad:AN1000">
                  <xs:annotation>
                     <xs:documentation>
Inrichting is een omschrijving van de inrichting van een Schip.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="kleur" type="kad:AN20">
                  <xs:annotation>
                     <xs:documentation>
Schip heeft uiterlijke verschijningsvorm van kleur.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="lengte" type="kad:AN10">
                  <xs:annotation>
                     <xs:documentation>Aanduiding voor de lengte van een schip in centimeters</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="nietScheepsToebehoren" type="kad:AN160">
                  <xs:annotation>
                     <xs:documentation>
Omschrijving niet scheepstoebehoren is een aanduiding van zaken die niet tot het Schip worden gerekend.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="omschrijving" type="kad:AN60">
                  <xs:annotation>
                     <xs:documentation>Een tekstuele beschrijving van het schip.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="rompmateriaal" type="kad:AN30">
                  <xs:annotation>
                     <xs:documentation>
Rompmateriaal is de belangrijkste materiaalsoort waarvan de romp van een Schip is gefabriceerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="1" minOccurs="0" name="type" type="kad:AN30">
                  <xs:annotation>
                     <xs:documentation>De aanduiding voor het soort van een Schip</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="heeftOudeNaam"
                  type="kad:OudeNaamSchip"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="heeftAnderKenmerk"
                  type="kad:KenmerkAndereRegistratie"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="_PersoonsgebondenRecht" type="kad:_PersoonsgebondenRecht" abstract="true"/>
   <xs:complexType abstract="true" name="_PersoonsgebondenRecht">
      <xs:annotation>
         <xs:documentation>Een persoonsgebondenrecht is een persoonsrecht of een zekerheidsrecht.
Het betreft een abstracte klasse </xs:documentation>
      </xs:annotation>
      <xs:sequence minOccurs="0">
         <xs:element maxOccurs="1" minOccurs="0" name="beschrijving" type="kad:AN50">
            <xs:annotation>
               <xs:documentation>Betekenis
Recht wordt nader aangevuld met Beschrijving

Definitie
Beschrijving Recht is een aanvulling op het soort Recht op basis van het Stuk. De waarden zijn vastgelegd in een catalogus.

Toelichting</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadasterIdentificatie" type="kad:KadID">
            <xs:annotation>
               <xs:documentation>Betekenis
Recht wordt door het Kadaster uniek geidentificeerd door identificatie

Definitie
Unieke door het Kadaster toegekende logische identificatie van een recht. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="verklaringInzakeDerdenBescherming"
            type="kad:AN50">
            <xs:annotation>
               <xs:documentation>Definitie
Een verklaring van de bewaarder dat de vermelding van het persoonsrecht conform de openbare registers is dan wel conform waarneming van de bewaarder is</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ontstaanUitStukdeel" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Stukdeel" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="vervallenDoorStukdeel" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Stukdeel" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="gerelateerdRecht" maxOccurs="unbounded" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:_PersoonsgebondenRecht"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="vanPersoon">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Persoon" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:InOnderzoek" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="vermeldInStukdeel" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Stukdeel" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="xlink:simpleLink"/>
   </xs:complexType>
   <xs:element name="HoofdComplex" substitutionGroup="kad:AppRechtComplex" type="kad:HoofdComplex"/>
   <xs:complexType name="HoofdComplex">
      <xs:annotation>
         <xs:documentation>Definitie
Een HoofdComplex is een Appartementsrechtcomplex en vormt het geheel van rechten op 1 of meer percelen, dat is gesplitst in appartementsrechten.

Toelichting:
Het hoofdcomplex kent een ' hoofd Vereniging van eigenaren' .
De tekening van het complex is samen met de akte van splitsing ingeschreven in de openbare registers.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:AppRechtComplex">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="SubComplex" substitutionGroup="kad:AppRechtComplex" type="kad:SubComplex"/>
   <xs:complexType name="SubComplex">
      <xs:annotation>
         <xs:documentation>Definitie

Een SubComplex is een Appartementsrechtcomplex en vormt het geheel van rechten op 1 of meer appartementsrechten, dat is ondergesplitst.

Toelichting:
Het subcomplex kent een eigen Vereniging van eigenaren. Deze vereniging opereert binnen de bevoegheid van de hoofd vereniging en vertegenwoordigd het aandeel van het ondergsplitste appartementsrecht in het hoofdcomplex.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="kad:AppRechtComplex">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Mandeligheid" type="kad:Mandeligheid"/>
   <xs:complexType name="Mandeligheid">
      <xs:annotation>
         <xs:documentation>Mandeligheid vormt de relatie tussen een Recht, welke een mandeligheid omvat, en het recht (op een ander object), welke tot gemeenschappelijk nut is bestemd.

Eigendom van of een beperkt recht op een Kadastraal object kan een aandeel in een mandelige zaak omvatten. De mandelige zaak betreft dan de eigendom of een beperkt recht op een ander Kadastraal object. De mandelige zaak is tot algemeen nut verklaard. 
De mandeligheid kan eigendom van de Onroerende zaak betreffen, dat tot gemeenschappelijk nut is bestemd. Ook kan de mandeligheid betrekking hebben op een beperkt recht (bijvoorbeeld recht van Opstal) op de Onroerende zaak, dat tot gemeenschappelijk nut is bestemd. In dit geval kunnen naast de mandeligheid "gewone" rechten bestaan van de blote eigenaar (eigendom belast met opstal). </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="aandeelInMandeligheid" type="kad:Aandeel">
            <xs:annotation>
               <xs:documentation>Recht omvat een onverdeeld aandeel in het mandeligerecht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="isGebaseerdOp">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Stukdeel" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PersoonRechtFiliatie" type="kad:PersoonRechtFiliatie"/>
   <xs:complexType name="PersoonRechtFiliatie">
      <xs:annotation>
         <xs:documentation>Betekenis
PersoonRelatiefiliatie geeft aan uit welke inmiddels vervallen PersoonRelaties de PersoonRelatie is ontstaan .

Toelichting:
Dit doet zicht voor bij het (ambtshalve samenvoegen van PersoonRelaties, het samenvoegen van Rechten, bij vererving, naamswijziging etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="aardPersoonRechtFiliatie"
            type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>en aanduiding voor de aard van de filiatie.
Persoonrechtfiliatie wordt gebruikt om aan te geven hoe een recht (historisch) tot stand gekomen is. Het geeft aan waarom het ene persoonrecht gerelateerd is aan het andere.
Aard kan zijn Samengevoegd of Vervangen op grond van een nieuwe rechtsfeit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="InOnderzoek" type="kad:InOnderzoek"/>
   <xs:complexType name="InOnderzoek">
      <xs:annotation>
         <xs:documentation>Indien twijfel bestaat omtrent de juistheid van de geregistreerde gegevens worden deze in onderzoek geplaatst.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="datumAanvangOnderzoek" type="xs:date">
            <xs:annotation>
               <xs:documentation>betekenis:
Datum waarop het onderzoek is gestart</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="datumEindeOnderzoek" type="xs:date">
            <xs:annotation>
               <xs:documentation>betekenis:
Datum waarop het onderzoek is afgerond</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="omschrijving" type="kad:Memo">
            <xs:annotation>
               <xs:documentation>In onderzoek omschrijving geeft aan welk type authentiek gegeven in onderzoek is geplaatst.
De mogelijken waarden zijn geplaatst in waardenlijst "inonderzoek-omschrijving.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
