src/main/resources/input/Kadaster/xsd/other/imkad/imkad-onderdelen-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:gml="http://www.opengis.net/gml" xmlns:kad="http://www.kadaster.nl/schemas/imkad"
   xmlns:nip="http://www.kadaster.nl/schemas/nietingezetenen"
   xmlns:rp="http://www.kadaster.nl/schemas/rechtspersonen"
   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
   targetNamespace="http://www.kadaster.nl/schemas/imkad" version="2.0">

   <!--AL adressen namespace is vervallen, is nu een include binnen imkad 2.0 schema -->

   <xs:import namespace="http://www.kadaster.nl/schemas/rechtspersonen"
      schemaLocation="rechtspersonen-1.0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/nietingezetenen"
      schemaLocation="nietingezetenen-1.0.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/3.1.1/base/gml.xsd"/>
   <xs:include schemaLocation="imkad-simpletypes-2.0.xsd"/>

   <xs:element name="KadastraleAanduiding" type="kad:KadastraleAanduiding"/>
   <xs:complexType name="KadastraleAanduiding">
      <xs:annotation>
         <xs:documentation>Kadastrale aanduiding is de unieke aanduiding van een onroerende zaak,
            die door het kadaster wordt vastgesteld. Percelen worden kadastraal aangeduid door
            vermelding van achtereenvolgens de kadastrale gemeente en sectie, waarin de percelen en
            gedeelten van percelen zijn gelegen waarvan het grondgebied tot die zaak behoort,
            alsmede de nummers van die percelen. Voor een onroerende zaak die zich krachtens een
            opstalrecht op, in of boven de grond van een ander bevindt, geldt dezelfde kadastrale
            aanduiding als van de onroerende zaak die met dat opstalrecht is bezwaard. Dit is van
            overeenkomstige toepassing op een onroerende zaak die zich op, in of boven de grond van
            een ander bevindt krachtens een recht als bedoeld in het voor 1 januari 1992 geldende
            artikel 5, derde lid, onder b, laatste zinsnede, van de Belemmeringenwet Privaatrecht.
            Appartementsrechten worden kadastraal aangeduid door de vermelding van achtereenvolgens
            de kadastrale gemeente en sectie, waarin de in de splitsing betrokken percelen zijn
            gelegen, de complexaanduiding en de appartementsindex. De complexaanduiding bestaat uit
            het voor de in de splitsing betrokken percelen vastgestelde complexnummer, gevolgd door
            de hoofdletter A. Onze Minister stelt regelen vast omtrent de vaststelling van het
            complexnummer. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="AKRKadastraleGemeenteCode"
            type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>AKR code voor de kadastrale gemeente. De waarden komen uit de
                  catalogus "gemeenten.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="appartementsrechtVolgnummer" type="kad:N4">
            <xs:annotation>
               <xs:documentation>Nummer dat het kadastraal object uniek identificeert als een
                  appartementsrecht binnen het complex. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="deelperceelnummer" type="kad:N4">
            <xs:annotation>
               <xs:documentation>Nummer dat het kadastraal object uniek identificeert als een deel
                  van het gehele perceel. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="naamKadastraleGemeente"
            type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>De kadastrale gemeente, deel van de kadastrale aanduiding van de
                  onroerende zaak. De waarden komen uit de catalogus
                  "gemeenten.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="perceelnummer" type="kad:N5">
            <xs:annotation>
               <xs:documentation>Het perceelnummer dat een geheel perceel of een complex uniek
                  identificeert binnen de sectie. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="sectie" type="kad:AN2">
            <xs:annotation>
               <xs:documentation>De sectie die de sectie binnen de kadastrale gemeente uniek
                  identificeert. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Koopsom" type="kad:Koopsom"/>
   <xs:complexType name="Koopsom">
      <xs:annotation>
         <xs:documentation>Datatype behorende bij het gegeven koopsom bij _OnroerendeZaak. De
            koopsom is het in een ter inschrijving aangeboden stuk vermelde bedrag, waarvoor 1 of
            meer onroerende zaken zijn verkregen, alsmede het koopjaar en een indicator meer
            onroerend goed.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bedrag">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Bedrag" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="koopjaar" type="xs:gYear">
            <xs:annotation>
               <xs:documentation>Transactiejaar van de aankoop.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="koopsomInGuldens" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Bedrag" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="meerOnroerendGoed" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Indicatie of betrokken onroerendgoed wel/niet samen met met ander
                  onroerendgoed in een akte onder een koopsom is verkregen. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PerceelnrVerschuiving" type="kad:PerceelnrVerschuiving"/>
   <xs:complexType name="PerceelnrVerschuiving">
      <xs:annotation>
         <xs:documentation>Verschuiving van het perceelnummer ten behoeve van visualisatie op een
            kaart. Dit voorkomt dat perceelnummers van kleine percelen elkaar
            overlappen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="deltaX" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>Verschuiving op de X as.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="deltaY" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>Verschuiving op de Y as.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Bedrag" type="kad:Bedrag"/>
   <xs:complexType name="Bedrag">
      <xs:annotation>
         <xs:documentation>Bestaat uit een bedrag, een aanduiding van de valutasoort, en eventueel
            een aanduiding van de versie van de lijst met mogelijke valuta die is gebruikt.
            Bovendien wordt de aard van het bedrag vastgelegd, waarin is aangegeven of het bedrag
            een deel van een totaal, een totaal van opgetelde bedragen, of een ongedeeld bedrag
            is.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="aard" type="kad:TypeAardBedrag">
            <xs:annotation>
               <xs:documentation>Deze indicatie geeft aan of er sprake is van meerdere
                  getotaliseerde hoofdsommen. Het bedrag kan zijn een deelbedrag, een totaalbedrag,
                  of een ongedeeld bedrag (er is geen spraken van meerdere getotaliseerde
                  hoofdsommen). </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="som" type="kad:D20">
            <xs:annotation>
               <xs:documentation>Het bedrag. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="valuta" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Aanduiding van de valutasoort. De toegestane waarden staan in
                  'valuta.xml'. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Landinrichtingsrente" type="kad:Landinrichtingsrente"/>
   <xs:complexType name="Landinrichtingsrente">
      <xs:annotation>
         <xs:documentation>Datatype ten behoeve van het gegeven landinrichtingsrente bij
            _OnroerendeZaak. Landinrichtingsrente is het bedrag waarmee de Onroerende zaak is belast
            in het kader van de landinrichtingswet.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="aard" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Een aanduiding voor de aard van het landinrichtingsproject. De
                  waarden zijn opgenomen in de catalogus "aardliproject.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bedrag">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="kad:Bedrag" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="eindjaar" type="xs:gYear">
            <xs:annotation>
               <xs:documentation>Dit is het jaar tot wanneer de Landinrichtingsrente van toepassing
                  is. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="VlakOfMultiLijnPropertyType" type="kad:VlakOfMultiLijnPropertyType"/>
   <xs:complexType name="VlakOfMultiLijnPropertyType">
      <xs:annotation>
         <xs:documentation>De begrenzing van een leidingnetwerk kan zowel lijnvormig als vlakvormig
            worden beschreven. Lijnvormig houdt in dat het leidingnetwerk bestaat uit een netwerk
            van lijnketens, die onderling minimaal een punt in de keten gemeenschappelijk hebben.
            Vlakvormig houdt in dat de lijnketens onderling zodanig met elkaar zijn verbonden dat
            een vlakvormige figuur (polylijn) is af te leiden. In het lijnvormige geval kan ook de
            strookbreedte, waarbinnen de grenslijn ligt, zijn opgenomen. In zo'n geval is, indien
            nodig, een vlakvormige figuur te berekenen.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element ref="gml:Surface" maxOccurs="1" minOccurs="1"/>
         <xs:element ref="kad:MultiLineArc" maxOccurs="1" minOccurs="1"/>
      </xs:choice>
   </xs:complexType>
   <xs:element name="DeelEnNummer" type="kad:DeelEnNummer"/>
   <xs:complexType name="DeelEnNummer">
      <xs:annotation>
         <xs:documentation>Bevat de door het Kadaster vastgestelde unieke identificatie van alle ter
            inschrijving aangeboden stukken. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="bewaring" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Een bewaring is een organisatorische eenheid van het Kadaster,
                  verantwoordelijk voor de bijhouding van de kadastrale registratie binnen een
                  afgebakend geografisch gebied. Het Kadaster kent landelijk verspreid 15
                  vestigingen of bewaringen. Eén in elke provincie, en in sommige provincies twee.
                  De gegevens van het Kadaster zijn per vestiging gescheiden. In het verleden hebben
                  meer Kadastervestigingen bestaan, en zijn vestigingen gewijzigd. Indien nodig
                  wordt bij de stukidentificaties door middel van de reekscode naar andere (oude)
                  vestigingen verwezen. De waarden zijn opgenomen in de catalogus
                  "bewaring.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="deel" type="kad:N5">
            <xs:annotation>
               <xs:documentation>Identificatie van het stuk binnen zijn soort. Hoewel er nu alleen
                  nog numerieke waarden worden toegekend, moet het domeintype Tekst blijven omdat er
                  in het verleden alfanumerieke waarden zijn toegekend. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="nummer" type="kad:N5">
            <xs:annotation>
               <xs:documentation>Volgnummer van het stuk. In de landelijke stukkenregistratie is dit
                  nummer niet uniek identificerend binnen een register, omdat tijdig ingediende
                  verbeteringen hetzelfde volgnummer krijgen als het oorspronkelijke stuk.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="reeks" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Verwijzing naar de oorspronkelijke (mogelijk tussentijds vervallen)
                  Kadastervestiging waar het stuk oorspronkelijk is ingeschreven. De waarden zijn
                  opgenomen in de catalogus "aanduidingreeks.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="registercode" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Het soort register, aangeduid met een code. De waarden zijn
                  opgenomen in de catalogus "aanduidingsoortregister.xml"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="soortRegister" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Aanduiding soort Register bepaalt de hoofdcategorie van een ter
                  inschrijving aangeboden stuk. Bijvoorbeeld Hypotheekakten, Transportakten. De
                  waarden zijn opgenomen in de catalogus
                  "aanduidingsoortregister.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="LijnOfBoogPropertyType" type="kad:LijnOfBoogPropertyType"/>
   <xs:complexType name="LijnOfBoogPropertyType">
      <xs:annotation>
         <xs:documentation>GML extensie voor een geometrie attribuut dat of een lijn, of een boog
            mag bevatten.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element ref="gml:ArcString" maxOccurs="1" minOccurs="1"/>
         <xs:element ref="gml:LineString" maxOccurs="1" minOccurs="1"/>
      </xs:choice>
   </xs:complexType>
   <xs:element name="MultiLineArc" type="kad:MultiLineArc"/>
   <xs:complexType name="MultiLineArc">
      <xs:annotation>
         <xs:documentation>Een verzameling gml:LineStrings en/of gml:ArcStrings.</xs:documentation>
      </xs:annotation>
      <xs:sequence maxOccurs="unbounded">
         <xs:element ref="gml:ArcString" maxOccurs="1" minOccurs="0"/>
         <xs:element ref="gml:LineString" maxOccurs="1" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Ondertekenaar" type="kad:Ondertekenaar"/>
   <xs:complexType name="Ondertekenaar">
      <xs:annotation>
         <xs:documentation>De gegevens van de ondertekenaar van een aangeboden
            stuk.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="geslachtsnaam" type="kad:AN200">
            <xs:annotation>
               <xs:documentation>De naamgegevens van een natuurlijk persoon, met uitzondering van de
                  voornamen en eventuele voorvoegsels. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="standplaats" type="kad:AN80">
            <xs:annotation>
               <xs:documentation>Adres of standplaats/plaats van vestiging van de ondertekenaar.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="voornamen" type="kad:AN200">
            <xs:annotation>
               <xs:documentation>De verzameling van een of meer naamgegevens, ter onderscheiding van
                  personen met dezelfde achternaam, (rechtens) aan een persoon gegeven of -indien
                  hiervan sprake is- door hem gekozen. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="voorvoegsels" type="kad:AN10">
            <xs:annotation>
               <xs:documentation>De verzameling van een of meer voorzetsels en/of lidwoorden die aan
                  de geslachtsnaam vooraf gaat en daarmee de gezamenlijk de achternaam vormt.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Bijlage" type="kad:Bijlage"/>
   <xs:complexType name="Bijlage">
      <xs:annotation>
         <xs:documentation>Een document dat is toegevoegd aan een stuk.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="aard" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Aanduiding aard bijlage is een aanduiding voor de aard van een bij
                  de akte behorend onderdeel als toevoeging op een brondocument, dat gelijktijdig
                  met het stuk is ingeschreven in de openbare registers. De bijlage kan bij de akte
                  gevoegd zijn, ofwel apart zijn aangeboden. De waarden zijn opgenomen in de
                  catalogus "aardbijlage.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="kadastraleIdentificatie" type="kad:KadID">
            <xs:annotation>
               <xs:documentation>Een kadaster identificatie bijlage is een door het Kadaster
                  vastgestelde unieke aanduiding voor een document dat is toegevoegd aan een stuk.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="tijdstipAanbiedingBijlage" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation> Tijdstip waarop een bijlage is ontvangen met in achtneming van de
                  openingstijden en -dagen van het Kadaster. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PostlocatiePersoon" type="kad:PostlocatiePersoon"/>
   <xs:complexType name="PostlocatiePersoon">
      <xs:annotation>
         <xs:documentation>Een Postlocatie (waar een persoon post ontvangt) kan een binnenlandse
            locatie, een buitenlandse locatie of een postbusadres zijn. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="bijOfTegenover" type="kad:TypeBijOfTegenover">
            <xs:annotation>
               <xs:documentation>De woonlocatie kan gelegen zijn naast of tegenover een bepaalde
                  locatie, die wordt aangeduid met een adres. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="1" minOccurs="1">
            <xs:annotation>
               <xs:documentation>Keuze tussen PostbusAdres, BinnenlandsAdres en
                  BuitenlandsAdres.</xs:documentation>
            </xs:annotation>
            <xs:element ref="kad:PostbusAdres" maxOccurs="1" minOccurs="1"/>
            <xs:element ref="kad:BinnenlandsAdres" maxOccurs="1" minOccurs="1"/>
            <xs:element maxOccurs="1" minOccurs="1" name="BuitenlandsAdres"
               type="nip:BuitenlandsAdres"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="WoonlocatiePersoon" type="kad:WoonlocatiePersoon"/>
   <xs:complexType name="WoonlocatiePersoon">
      <xs:annotation>
         <xs:documentation>Een woonlocatie (waar een persoon woont/gevestigd is ) kan een
            binnenlandse locatie of een buitenlandse locatie zijn. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="bijOfTegenover" type="kad:TypeBijOfTegenover">
            <xs:annotation>
               <xs:documentation>De woonlocatie kan gelegen zijn naast of tegenover een bepaalde
                  locatie, die wordt aangeduid met een adres. De waarden zijn opgenomen in de
                  catalogus "bijoftegenover.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="1" minOccurs="1">
            <xs:annotation>
               <xs:documentation>Keuze tussen BinnenlandsAdres en
                  BuitenlandsAdres.</xs:documentation>
            </xs:annotation>
            <xs:element maxOccurs="1" minOccurs="1" name="BuitenlandsAdres"
               type="nip:BuitenlandsAdres"/>
            <xs:element ref="kad:BinnenlandsAdres" maxOccurs="1" minOccurs="1"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Aandeel" type="kad:Aandeel"/>
   <xs:complexType name="Aandeel">
      <xs:annotation>
         <xs:documentation>Het aandeel in een recht, bestaande uit een teller (deel) en noemer
            (geheel). De teller is altijd lager dan de noemer.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="noemer" type="kad:N8">
            <xs:annotation>
               <xs:documentation>De naam van het deel.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="teller" type="kad:N8">
            <xs:annotation>
               <xs:documentation>Het aantal delen. De teller is altijd lager dan de
                  noemer.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="KADNatuurlijkPersoon" type="kad:KADNatuurlijkPersoon"/>
   <xs:complexType name="KADNatuurlijkPersoon">
      <xs:annotation>
         <xs:documentation>Een natuurlijk persoon die geen bij GBA geregistreerde ingezetene en geen
            buitenlands persoon is.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="datumOverlijden" type="xs:date">
            <xs:annotation>
               <xs:documentation>De overlijdensdatum is de datum waarop een natuurlijk persoon is
                  overleden. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="geboortedatum" type="xs:date">
            <xs:annotation>
               <xs:documentation>De datum waarop een natuurlijk persoon is geboren.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="geboorteland" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Geboorteland is een aanduiding van het land waar de natuurlijke
                  persoon geboren is. De waarden zijn opgenomen in de catalogus
                  "land.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="geboorteplaats" type="kad:AN40">
            <xs:annotation>
               <xs:documentation>De geboorteplaats is een plaatsaanduiding, die aangeeft waar de
                  natuurlijke persoon geboren is. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="geslacht" type="kad:TypeGeslacht">
            <xs:annotation>
               <xs:documentation>De aanduiding die aangeeft dat Natuurlijk persoon een man, een
                  vrouw is of dat het geslacht bij het Kadaster onbekend is. De waarden zijn
                  opgenomen in de catalogus "aanduidinggeslacht.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="geslachtsnaam" type="kad:AN200">
            <xs:annotation>
               <xs:documentation>De naamgegevens van een natuurlijk persoon, met uitzondering van de
                  voornamen en eventuele voorvoegsels. Afgeleid van NEN 1888 (het significante deel
                  van de achternaam). De geslachtsnaam en eventuele voorvoegsels vormen gezamenlijk
                  de achternaam van een persoon. De geslachtsnaam wordt in NEN 1888 aangeduid met
                  een significant deel van de achternaam. Hoewel het mogelijk is om diakrieten te
                  registreren in de Persoonsregistratie, kunnen toch niet alle diakrieten
                  geregistreerd worden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="overleden" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Indicatie of de persoon al dan niet overleden is. De datum van
                  overlijden is soms niet bekend, maar wel dat iemand overleden is. Dat is uit dit
                  attribuut af te leiden. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="voernaam" type="kad:AN200">
            <xs:annotation>
               <xs:documentation>De naam van de partner, overleden partner of gescheiden partner,
                  waarmee de gerechtigde aangesproken wenst te worden. De voernaam kan ook bestaan
                  uit voorvoegsel en achternaam van partner. Hoe de voernaam is samengesteld is af
                  te leiden uit de "Code Aanduiding Naamgebruik". </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="voornamen" type="kad:AN200">
            <xs:annotation>
               <xs:documentation>De verzameling van een of meer naamgegevens, ter onderscheiding van
                  personen met dezelfde achternaam, (rechtens) aan een persoon gegeven of -indien
                  hiervan sprake is- door hem gekozen. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="voorvoegsels" type="kad:AN10">
            <xs:annotation>
               <xs:documentation> De verzameling van een of meer voorzetsels en/of lidwoorden die
                  aan de geslachtsnaam vooraf gaat en daarmee de gezamenlijk de achternaam vormt.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="voorvoegselVoernaam" type="kad:AN10">
            <xs:annotation>
               <xs:documentation>Voernaam omvat ook voorvoegsel-voernaam. Het voorvoegsel-voernaam
                  is de verzameling van één of meer voorzetsels en/of lidwoorden die aan de voernaam
                  vooraf gaan en daarmee gezamenlijk de voernaam vormen. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PersoonKeuze" type="kad:PersoonKeuze"/>
   <xs:complexType name="PersoonKeuze">
      <xs:annotation>
         <xs:documentation>Keuze tussen de vijf soorten personen.</xs:documentation>
      </xs:annotation>
      <xs:choice>
         <xs:element ref="kad:KADNatuurlijkPersoon" maxOccurs="1" minOccurs="1"/>
         <xs:element maxOccurs="1" minOccurs="1" ref="kad:Ingezetene"/>
         <xs:element maxOccurs="1" minOccurs="1" ref="kad:NietIngezetene"/>
         <xs:element ref="kad:KADNietNatuurlijkPersoon" maxOccurs="1" minOccurs="1"/>
         <xs:element maxOccurs="1" minOccurs="1" name="Rechtspersoon" type="rp:Rechtspersoon"/>
      </xs:choice>
   </xs:complexType>
   <xs:element name="PolygoonPropertyType" type="kad:PolygoonPropertyType"/>
   <xs:complexType name="PolygoonPropertyType">
      <xs:annotation>
         <xs:documentation>GML extensie voor een geometrie attribuut dat een polygoon (veelhoek) mag
            bevatten.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element ref="gml:PolygonPatch" maxOccurs="1" minOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="KADNietNatuurlijkPersoon" type="kad:KADNietNatuurlijkPersoon"/>
   <xs:complexType name="KADNietNatuurlijkPersoon">
      <xs:annotation>
         <xs:documentation>Een niet natuurlijk persoon die geen bij het nieuwe handelsregister (NHR)
            geregistreerde rechtspersoon is, maar een in het buitenland geregistreerde
            rechtspersoon. Voor niet natuurlijke personen waarvan het FI nummer (identificatienummer
            NHR) niet bekend is in de Kadaster registratie, wordt ook KADNietNatuurlijkPersoon
            gebruikt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="naam" type="kad:AN200">
            <xs:annotation>
               <xs:documentation>De naamgegevens van een Niet Natuurlijk persoon. Hoewel het
                  mogelijk is om diakrieten te registreren in de Persoonsregistratie, kunnen toch
                  niet alle diakrieten geregistreerd worden. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="rechtsvorm" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Aanduiding voor de aard van de niet natuurlijke persoon. De waarden
                  voor de aard van de niet natuurlijke persoon zijn opgenomen in de catalogus
                  "rechtsvorm.xml". </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="statutaireZetel" type="kad:AN24">
            <xs:annotation>
               <xs:documentation> De statutaire plaats van vestiging van de Niet Natuurlijk persoon.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Domiciliekeuze" type="kad:Domiciliekeuze"/>
   <xs:complexType name="Domiciliekeuze">
      <xs:annotation>
         <xs:documentation>Locatie die een persoon als woonplaats heeft gekozen. Personen kunnen
            domicilie kiezen; dit moet een woonplaats zijn binnen Nederland. Wanneer een persoon
            geen feitelijke woonplaats in Nederland heeft, kiest zij ter zake van de inschrijving
            domicilie in Nederland. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="stukdeelWaarinVermeld" type="kad:Stukdeel">
            <xs:annotation>
               <xs:documentation>Stukdeel waarin de domiciliekeuze van een persoon vermeld
                  wordt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="aard" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>Keuzelijst waarin wordt aangegeven of de persoon domicilie kiest
                  ten kantore van het kadaster, de notaris, schuldeiser of deurwaarder, of op een
                  overige locatie. De waarden zijn opgenomen in de catalogus
                  "aarddomiciliekeuze.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="adres" type="kad:Memo">
            <xs:annotation>
               <xs:documentation>Vrij veld waarin de omschrijving van de woonplaatskeuze kan worden
                  opgenomen. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PostbusAdres" type="kad:PostbusAdres"/>
   <xs:complexType name="PostbusAdres">
      <xs:annotation>
         <xs:documentation>De locatie waar een persoon post wenst te ontvangen kan een
            postbusaanduiding zijn. Een postbusaanduiding bestaat uit een woonplaatsnaam, postcode
            en postbusnummer.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="postbusnummer" type="kad:N7">
            <xs:annotation>
               <xs:documentation>De numerieke aanduiding zoals deze door de Nederlandse PTT is
                  vastgesteld voor postbusadressen. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="postcode" type="kad:Postcode">
            <xs:annotation>
               <xs:documentation>De officiële Nederlandse PTT codering, bestaande uit een numerieke
                  woonplaatscode en een alfabetische lettercode. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="1" name="woonplaatsnaam" type="kad:AN80">
            <xs:annotation>
               <xs:documentation>De door de gemeente vastgestelde naam van een woonplaats.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CultuurOnbebouwd" type="kad:CultuurOnbebouwd"/>
   <xs:complexType name="CultuurOnbebouwd">
      <xs:annotation>
         <xs:documentation>CultuurOnbebouwd is de cultuuraanduiding, een aanduiding voor het
            onbebouwde gedeelte van de cultuur van een onroerende zaak. De cultuur geeft de aard van
            het gebruik aan. cultuurOnbebouwd is een samengesteld gegeven van OnroerendeZaak, en
            CultuurOnbebouwd is het bijbehorende datatype. De cultuuraanduiding bestaat uit
            Bebouwscode, Aard cultuur onbebouwd, en een indicatie meer culturen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="1" name="aardBebouwing" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>De waarden zijn opgenomen in de catalogus
                  "aardbebouwing.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="aardCultuurOnbebouwd" type="kad:Waardenlijst">
            <xs:annotation>
               <xs:documentation>De waarden zijn opgenomen in de catalogus
                  "cultuuronbebouwd.xml".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="meerCulturen" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Indicatie van wel/geen aanwezigheid van meer culturen.
               </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Motor" type="kad:Motor"/>
   <xs:complexType name="Motor">
      <xs:annotation>
         <xs:documentation>Tot een Teboekgestelde zaak kunnen verschillende motoren behoren. Een
            motor is een werktuig waarmee een Teboekgestelde zaak kan worden
            voortbewogen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="merk" type="kad:AN25"/>
         <xs:element maxOccurs="1" minOccurs="0" name="nummer" type="kad:AN25">
            <xs:annotation>
               <xs:documentation>nummer van de motor</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="plaatsnummer" type="kad:AN60">
            <xs:annotation>
               <xs:documentation>plaats waar het nummer is aangebracht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="sterkte" type="kad:AN15">
            <xs:annotation>
               <xs:documentation>de sterkte van de motor</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="type" type="kad:AN15">
            <xs:annotation>
               <xs:documentation>typeaanduiding van de motor</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BrandmerkSchip" type="kad:BrandmerkSchip"/>
   <xs:complexType name="BrandmerkSchip">
      <xs:annotation>
         <xs:documentation>Het brandmerk vormt de unieke identificatie van een
            Schip.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="datum" type="xs:date">
            <xs:annotation>
               <xs:documentation>Datum waarop het brandmerk is aangebracht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="jaar" type="kad:N4">
            <xs:annotation>
               <xs:documentation>Jaar waarop het brandmerk is ontstaan</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="nummer" type="kad:N8">
            <xs:annotation>
               <xs:documentation>Volgnummer van het brandmerk</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="plaats" type="kad:AN8">
            <xs:annotation>
               <xs:documentation>Plaats van teboekstellng</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="rubriek" type="kad:AN2">
            <xs:annotation>
               <xs:documentation>Aard van het schip</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="status" type="kad:AN2">
            <xs:annotation>
               <xs:documentation>Status van het brandmerk proces</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="OudeNaamSchip" type="kad:OudeNaamSchip"/>
   <xs:complexType name="OudeNaamSchip">
      <xs:annotation>
         <xs:documentation>De naam van het schip waaronder het in het verleden teboek was
            gesteld.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="inhoud" type="kad:AN60">
            <xs:annotation>
               <xs:documentation>Inhoud van het oude deel van het schip</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="naam" type="kad:AN30">
            <xs:annotation>
               <xs:documentation>De oude naam van het (deel van) het schip</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="KenmerkAndereRegistratie" type="kad:KenmerkAndereRegistratie"/>
   <xs:complexType name="KenmerkAndereRegistratie">
      <xs:annotation>
         <xs:documentation>Een aanduiding voor een binnenlandse- of buitenlandse registratie (anders
            dan het Kadaster), waar het schip in het verleden is geregistreerd.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="1" minOccurs="0" name="kargCode" type="kad:AN2">
            <xs:annotation>
               <xs:documentation>Kenmerk van een andere registratie</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="microdotKenmerk " type="kad:AN10">
            <xs:annotation>
               <xs:documentation>Door het Kadaster vastgesteld unieke identificatie van een schip
                  vermeld in microdots. Naast het brandmerk wordt een schip voorzien van microdots
                  (ongeveer 5000). In deze microdots is een uniek kenmerk aangebracht. Het kenmerk
                  bestaat uit de letter KAD, aangevuld met 7 cijfers. Er kunnen meer
                  microdotskenmerken per schip bestaan. Dit kan nodig zijn wanneer twee halve
                  schepen, vorzien van microdots, worden samengevoegd tot een nieuw
                  schip.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="1" minOccurs="0" name="omschrijving" type="kad:AN30">
            <xs:annotation>
               <xs:documentation>Tekstuele omschrijving van het aangebrachte
                  kenmerk</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="TypeAardBedrag">
      <xs:annotation>
         <xs:documentation>Deze enumeratie voor de aard van Bedrag geeft aan of er sprake is van
            meerdere getotaliseerde hoofdsommen. Het bedrag kan een deelbedrag, een totaalbedrag, of
            een ongedeeld bedrag (er is geen spraken van meerdere getotaliseerde
            hoofdsommen).</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="deel"/>
         <xs:enumeration value="ongedeeld."/>
         <xs:enumeration value="totaal"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TypeBijOfTegenover">
      <xs:restriction base="xs:string">
         <xs:enumeration value="bij"/>
         <xs:enumeration value="tegenover."/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TypeGeslacht">
      <xs:restriction base="xs:string">
         <xs:enumeration value="M"/>
         <xs:enumeration value="O"/>
         <xs:enumeration value="V"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
