src/main/resources/etc/xsd/MIMformat/v2/1.1.1/MIMFORMAT_Mim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:mim="http://www.geostandaarden.nl/mim/mim-core/1.1" 
  xmlns:mim-ref="http://www.geostandaarden.nl/mim/mim-ref/1.0" 
  xmlns:mim-ext="http://www.geostandaarden.nl/mim/mim-ext/1.0" 
  xmlns:xhtml="http://www.w3.org/1999/xhtml" 
  
  targetNamespace="http://www.geostandaarden.nl/mim/mim-core/1.1" 
  
  elementFormDefault="qualified" 
  attributeFormDefault="unqualified" 
  
  version="1.0.0">

  <xs:import namespace="http://www.geostandaarden.nl/mim/mim-ref/1.0" schemaLocation="MIMFORMAT_MimRef.xsd"/>
  <xs:import namespace="http://www.geostandaarden.nl/mim/mim-ext/1.0" schemaLocation="MIMFORMAT_MimExt.xsd"/>

  <xs:annotation>
    <xs:appinfo source="http://www.geostandaarden.nl/mim/metamodel/uri">https://docs.geostandaarden.nl/mim/vv-st-mim-20200225/</xs:appinfo>
    <xs:appinfo source="http://www.geostandaarden.nl/mim/metamodel/version">1.1.1</xs:appinfo>
    <xs:appinfo source="http://www.geostandaarden.nl/mim/schema-info/uri">https://docs.geostandaarden.nl/mim/TODO-schemainfo-1.0.0</xs:appinfo>
    <xs:appinfo source="http://www.geostandaarden.nl/mim/schema-info/version">1.0.0</xs:appinfo>
  </xs:annotation>

  <!-- Informatiemodel: -->
  <xs:element name="Informatiemodel" type="mim:Informatiemodel">
    <xs:unique name="uniqueId">
      <xs:selector xpath=".//*"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>
  <xs:complexType name="Informatiemodel">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="informatiemodeltype" type="xs:string"/>
      <xs:element name="informatiedomein" type="xs:string"/>
      <xs:element name="relatiemodelleringtype" type="mim:relatiemodelleringtype"/>
      <xs:element name="MIMVersie">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1.1.0"/>
            <xs:enumeration value="1.1.1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MIMExtensie" type="xs:string" minOccurs="0"/>
      <xs:element name="MIMExtensieVersie" type="xs:string" minOccurs="0"/>
      <xs:element name="MIMTaal" type="xs:string" minOccurs="0"/>
      <xs:element name="packages" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim:Domein" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="mim:View" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="mim:Extern" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- DomeinOfView: -->
  <xs:complexType name="DomeinViewDatatypen">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="mim:GestructureerdDatatype"/>
        <xs:element ref="mim:PrimitiefDatatype"/>
        <xs:element ref="mim:Enumeratie"/>
        <xs:element ref="mim:Codelijst"/>
        <xs:element ref="mim:Referentielijst"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DomeinViewObjectTypen">
    <xs:sequence>
      <xs:element ref="mim:Objecttype" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DomeinViewGegevensgroepTypen">
    <xs:sequence>
      <xs:element ref="mim:Gegevensgroeptype" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DomeinViewKeuzen">
    <xs:sequence>
      <xs:element ref="mim:Keuze" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Domein: -->
  <xs:element name="Domein" type="mim:Domein"/>
  <xs:complexType name="Domein">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="datatypen" type="mim:DomeinViewDatatypen" minOccurs="0"/>
      <xs:element name="objecttypen" type="mim:DomeinViewObjectTypen" minOccurs="0"/>
      <xs:element name="gegevensgroeptypen" type="mim:DomeinViewGegevensgroepTypen" minOccurs="0"/>
      <xs:element name="keuzen" type="mim:DomeinViewKeuzen" minOccurs="0"/>
      <xs:element ref="mim-ext:constructies" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- View: -->
  <xs:element name="View" type="mim:View"/>
  <xs:complexType name="View">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="locatie" type="xs:string"/>
      <xs:element name="datatypen" type="mim:DomeinViewDatatypen" minOccurs="0"/>
      <xs:element name="objecttypen" type="mim:DomeinViewObjectTypen" minOccurs="0"/>
      <xs:element name="gegevensgroeptypen" type="mim:DomeinViewGegevensgroepTypen" minOccurs="0"/>
      <xs:element name="keuzen" type="mim:DomeinViewKeuzen" minOccurs="0"/>
      <xs:element ref="mim-ext:constructies" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Extern: -->
  <xs:element name="Extern" type="mim:Extern"/>
  <xs:complexType name="Extern">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="locatie" type="xs:string"/>
      <xs:element ref="mim-ext:constructies" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Objecttype: -->
  <xs:element name="Objecttype" type="mim:Objecttype"/>
  <xs:complexType name="Objecttype">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="populatie" type="xs:string" minOccurs="0"/>
      <xs:element name="kwaliteit" type="xs:string" minOccurs="0"/>
      <xs:element name="indicatieAbstractObject" type="mim:boolean"/>
      <xs:element name="supertypen" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim:GeneralisatieObjecttypen" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="mim:attribuutsoorten" minOccurs="0"/>
      <xs:element ref="mim:gegevensgroepen" minOccurs="0"/>
      <xs:element name="relatiesoorten" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim:Relatiesoort" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="externeKoppelingen" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim:ExterneKoppeling" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="keuzen" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim-ref:KeuzeRef" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="mim:constraints" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Gegevensgroeptype: -->
  <xs:element name="Gegevensgroeptype" type="mim:Gegevensgroeptype"/>
  <xs:complexType name="Gegevensgroeptype">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element ref="mim:attribuutsoorten" minOccurs="0"/>
      <xs:element ref="mim:gegevensgroepen" minOccurs="0"/>
      <xs:element name="relatiesoorten" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim:Relatiesoort" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="mim:constraints" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Attribuutsoort: -->
  <xs:element name="Attribuutsoort" type="mim:Attribuutsoort"/>
  <xs:complexType name="Attribuutsoort">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="type">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="mim:Datatype"/>
            <xs:element ref="mim-ref:DatatypeRef"/>
            <xs:element ref="mim-ref:KeuzeRef"/>
            <xs:element ref="mim-ext:ConstructieRef"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="lengte" type="xs:string" minOccurs="0"/>
      <xs:element name="patroon" type="xs:string" minOccurs="0"/>
      <xs:element name="formeelPatroon" type="xs:string" minOccurs="0"/>
      <xs:element name="indicatieMaterieleHistorie" type="mim:boolean"/>
      <xs:element name="indicatieFormeleHistorie" type="mim:boolean"/>
      <xs:element name="kardinaliteit" type="xs:string"/>
      <xs:element name="authentiek" type="xs:string"/>
      <xs:element name="locatie" type="xs:string" minOccurs="0"/>
      <xs:element name="indicatieAfleidbaar" type="mim:boolean"/>
      <xs:element name="indicatieClassificerend" type="mim:boolean"/>
      <xs:element name="mogelijkGeenWaarde" type="mim:boolean"/>
      <xs:element name="identificerend" type="mim:boolean" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Gegevensgroep: -->
  <xs:element name="Gegevensgroep" type="mim:Gegevensgroep"/>
  <xs:complexType name="Gegevensgroep">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Een inhoudelijke toelichting op de type gegevensgroep.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="datumOpname" type="xs:string">
        <xs:annotation>
          <xs:documentation>De datum waarop de type gegevensgroep is opgenomen in het informatiemodel.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicatieMaterieleHistorie" type="mim:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicatie of de materiële historie van de type gegevensgroep te bevragen is. Materiële historie geeft aan wanneer een verandering is opgetreden in de werkelijkheid die heeft geleid tot verandering van de attribuutwaarde.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="indicatieFormeleHistorie" type="mim:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicatie of de formele historie van de type gegevensgroep te bevragen is. Formele historie geeft aan wanneer in de administratie een verandering is verwerkt van de attribuutwaarde (wanneer was de verandering bekend en is deze verwerkt).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="kardinaliteit" type="xs:string"/>
      <xs:element name="authentiek" type="xs:string">
        <xs:annotation>
          <xs:documentation>Aanduiding of het een authentiek gegeven betreft.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gegevensgroeptype">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim-ref:GegevensgroeptypeRef"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Datatype element: -->
  <xs:element name="Datatype">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="label" type="xs:string" use="optional"/>
          <xs:attribute name="index" type="xs:integer" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- Datatype type: -->
  <xs:complexType name="Datatype" abstract="true">
    <xs:sequence>
      <xs:element name="supertypen" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim:GeneralisatieDatatypen"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Primitief Datatype -->
  <xs:element name="PrimitiefDatatype" type="mim:PrimitiefDatatype"/>
  <xs:complexType name="PrimitiefDatatype">
    <xs:complexContent>
      <xs:extension base="mim:Datatype">
        <xs:sequence>
          <xs:element name="naam" type="xs:string"/>
          <xs:element name="alias" type="xs:string" minOccurs="0"/>
          <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="herkomst" type="xs:string" minOccurs="0"/>
          <xs:element name="definitie" type="mim:xhtmlText" minOccurs="0"/>
          <xs:element name="herkomstDefinitie" type="xs:string" minOccurs="0"/>
          <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
          <xs:element name="datumOpname" type="xs:string"/>
          <xs:element name="lengte" type="xs:string" minOccurs="0"/>
          <xs:element name="patroon" type="xs:string" minOccurs="0"/>
          <xs:element name="formeelPatroon" type="xs:string" minOccurs="0"/>
          <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Gestructureerd Datatype -->
  <xs:element name="GestructureerdDatatype" type="mim:GestructureerdDatatype">
    <xs:annotation>
      <xs:documentation>Specifiek benoemd datatype dat de structuur van een gegeven beschrijft, samengesteld uit minimaal twee elementen die in samenhang betekenisvol zijn.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GestructureerdDatatype">
    <xs:complexContent>
      <xs:extension base="mim:Datatype">
        <xs:sequence>
          <xs:element name="naam" type="xs:string"/>
          <xs:element name="alias" type="xs:string" minOccurs="0"/>
          <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="herkomst" type="xs:string" minOccurs="0"/>
          <xs:element name="definitie" type="mim:xhtmlText" minOccurs="0"/>
          <xs:element name="herkomstDefinitie" type="xs:string" minOccurs="0"/>
          <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
          <xs:element name="datumOpname" type="xs:string"/>
          <xs:element name="patroon" type="xs:string" minOccurs="0"/>
          <xs:element name="formeelPatroon" type="xs:string" minOccurs="0"/>
          <xs:element name="dataElementen" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mim:DataElement" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Data Element -->
  <xs:element name="DataElement" type="mim:DataElement"/>
  <xs:complexType name="DataElement">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string" minOccurs="0"/>
      <xs:element name="definitie" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="herkomstDefinitie" type="xs:string" minOccurs="0"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="type">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="mim:Datatype"/>
            <xs:element ref="mim-ref:DatatypeRef"/>
            <xs:element ref="mim-ext:ConstructieRef"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="lengte" type="xs:string" minOccurs="0"/>
      <xs:element name="patroon" type="xs:string" minOccurs="0"/>
      <xs:element name="formeelPatroon" type="xs:string" minOccurs="0"/>
      <xs:element name="kardinaliteit" type="xs:string"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Enumeratie -->
  <xs:element name="Enumeratie" type="mim:Enumeratie"/>
  <xs:complexType name="Enumeratie">
    <xs:complexContent>
      <xs:extension base="mim:Datatype">
        <xs:sequence>
          <xs:element name="naam" type="xs:string"/>
          <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="alias" type="xs:string" minOccurs="0"/>
          <xs:element name="herkomst" type="xs:string"/>
          <xs:element name="definitie" type="mim:xhtmlText"/>
          <xs:element name="herkomstDefinitie" type="xs:string"/>
          <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
          <xs:element name="datumOpname" type="xs:string"/>
          <xs:element name="waarden">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mim:Waarde" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Waarde" type="mim:Enumeratiewaarde"/>
  <xs:complexType name="Enumeratiewaarde">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="herkomstDefinitie" type="xs:string" minOccurs="0"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Codelijst -->
  <xs:element name="Codelijst" type="mim:Codelijst"/>
  <xs:complexType name="Codelijst">
    <xs:complexContent>
      <xs:extension base="mim:Datatype">
        <xs:sequence>
          <xs:element name="naam" type="xs:string"/>
          <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="alias" type="xs:string" minOccurs="0"/>
          <xs:element name="herkomst" type="xs:string"/>
          <xs:element name="definitie" type="mim:xhtmlText"/>
          <xs:element name="herkomstDefinitie" type="xs:string"/>
          <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
          <xs:element name="datumOpname" type="xs:string"/>
          <xs:element name="locatie" type="xs:string" minOccurs="0"/>
          <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Referentielijst -->
  <xs:element name="Referentielijst" type="mim:Referentielijst"/>
  <xs:complexType name="Referentielijst">
    <xs:complexContent>
      <xs:extension base="mim:Datatype">
        <xs:sequence>
          <xs:element name="naam" type="xs:string"/>
          <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="alias" type="xs:string" minOccurs="0"/>
          <xs:element name="herkomst" type="xs:string"/>
          <xs:element name="definitie" type="mim:xhtmlText"/>
          <xs:element name="herkomstDefinitie" type="xs:string"/>
          <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
          <xs:element name="datumOpname" type="xs:string"/>
          <xs:element name="locatie" type="xs:string"/>
          <xs:element name="referentieElementen" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="mim:ReferentieElement" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="ReferentieElement" type="mim:ReferentieElement"/>
  <xs:complexType name="ReferentieElement">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="type">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="mim:Datatype"/>
            <xs:element ref="mim-ref:DatatypeRef"/>
            <xs:element ref="mim-ext:ConstructieRef"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="lengte" type="xs:string" minOccurs="0"/>
      <xs:element name="patroon" type="xs:string" minOccurs="0"/>
      <xs:element name="formeelPatroon" type="xs:string" minOccurs="0"/>
      <xs:element name="kardinaliteit" type="xs:string"/>
      <xs:element name="identificerend" type="mim:boolean" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Relatieklasse -->
  <xs:element name="Relatieklasse" type="mim:Relatieklasse"/>
  <xs:complexType name="Relatieklasse">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string"/>
      <xs:element name="definitie" type="mim:xhtmlText"/>
      <xs:element name="herkomstDefinitie" type="xs:string"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="indicatieMaterieleHistorie" type="mim:boolean" minOccurs="0"/>
      <xs:element name="indicatieFormeleHistorie" type="mim:boolean" minOccurs="0"/>
      <xs:element name="kardinaliteit" type="xs:string"/>
      <xs:element name="authentiek" type="xs:string"/>
      <xs:element name="indicatieAfleidbaar" type="mim:boolean"/>
      <xs:element name="mogelijkGeenWaarde" type="mim:boolean"/>
      <xs:element name="aggregatietype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Compositie"/>
            <xs:enumeration value="Gedeeld"/>
            <xs:enumeration value="Geen"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element ref="mim:attribuutsoorten" minOccurs="0"/>
      <xs:element ref="mim:constraints" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Constraint: -->
  <xs:element name="Constraint" type="mim:Constraint"/>
  <xs:complexType name="Constraint">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="specificatieTekst" type="xs:string" minOccurs="0"/>
      <xs:element name="specificatieFormeel" type="xs:string" minOccurs="0"/>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Generalisatie tussen objecttypes: -->
  <xs:element name="GeneralisatieObjecttypen" type="mim:GeneralisatieObjecttypen"/>
  <xs:complexType name="GeneralisatieObjecttypen">
    <xs:sequence>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="typeSupertype" type="xs:string" minOccurs="0"/>
      <xs:element name="supertype">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="mim-ref:ObjecttypeRef" minOccurs="0"/>
            <xs:element ref="mim-ext:ConstructieRef" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Generalisatie tussen datatypes: -->
  <xs:element name="GeneralisatieDatatypen" type="mim:GeneralisatieDatatypen"/>
  <xs:complexType name="GeneralisatieDatatypen">
    <xs:sequence>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="supertype">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="mim:Datatype"/>
            <xs:element ref="mim-ref:DatatypeRef"/>
            <xs:element ref="mim-ext:ConstructieRef"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- Keuze: -->
  <xs:element name="Keuze" type="mim:Keuze"/>
  <xs:complexType name="Keuze">
    <xs:sequence>
      <xs:element name="naam" type="xs:string"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="herkomst" type="xs:string" minOccurs="0"/>
      <xs:element name="definitie" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="herkomstDefinitie" type="xs:string" minOccurs="0"/>
      <xs:element name="toelichting" type="mim:xhtmlText" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:choice>
        <xs:element name="keuzeAttributen">
          <xs:complexType>
            <xs:sequence minOccurs="2" maxOccurs="unbounded">
              <xs:element ref="mim:Attribuutsoort"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="keuzeDatatypen">
          <xs:complexType>
            <xs:choice minOccurs="2" maxOccurs="unbounded">
              <xs:element ref="mim:Datatype"/>
              <xs:element ref="mim-ref:DatatypeRef"/>
              <xs:element ref="mim-ext:ConstructieRef"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="keuzeRelatiedoelen">
          <xs:complexType>
            <xs:sequence minOccurs="2" maxOccurs="unbounded">
              <xs:element name="Relatiedoel">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="mim-ref:ObjecttypeRef"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!--
        <xs:element name="RelatierolKeuze" type="mim:RelatierolKeuze"/>
        <xs:complexType name="RelatierolKeuze">
        <xs:complexContent>
        <xs:extension base="mim:Relatierol"/>
        </xs:complexContent>
        </xs:complexType>
        <xs:element name="RelatierolDoelKeuze" type="mim:RelatierolDoelKeuze"/>
        <xs:complexType name="RelatierolDoelKeuze">
        <xs:complexContent>
        <xs:extension base="mim:RelatierolKeuze"/>
        </xs:complexContent>
        </xs:complexType>
    -->

  <xs:element name="ExterneKoppeling" type="mim:ExterneKoppeling"/>
  <xs:complexType name="ExterneKoppeling">
    <xs:sequence>
      <xs:element name="naam" type="xs:string" minOccurs="0"/>
      <xs:element name="begrip" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="alias" type="xs:string" minOccurs="0"/>
      <xs:element name="datumOpname" type="xs:string"/>
      <xs:element name="unidirectioneel" type="xs:string"/>
      <xs:element name="aggregatietype" type="mim:aggregatietype"/>
      <xs:element name="doel">
        <xs:complexType>
          <xs:choice>
            <xs:element ref="mim-ref:ObjecttypeRef"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element ref="mim-ext:kenmerken" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional"/>
    <xs:attribute name="index" type="xs:integer" use="optional"/>
  </xs:complexType>

  <xs:element name="attribuutsoorten">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="mim:Attribuutsoort"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="gegevensgroepen">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="mim:Gegevensgroep"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="constraints">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mim:Constraint" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="boolean">
    <xs:restriction base="xs:boolean"/>
    <!--
            <xs:restriction base="xs:string">
            <xs:enumeration value="Ja"/>
            <xs:enumeration value="Nee"/>
            </xs:restriction>
        -->
  </xs:simpleType>

  <xs:simpleType name="aggregatietype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Geen"/>
      <xs:enumeration value="Compositie"/>
      <xs:enumeration value="Gedeeld"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="relatiemodelleringtype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Relatiesoort leidend"/>
      <xs:enumeration value="Relatierol leidend"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MIMVersie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1.0"/>
      <xs:enumeration value="1.1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MIMTaal">
    <xs:restriction base="xs:language"/>
  </xs:simpleType>

  <xs:simpleType name="authentiek">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Authentiek"/>
      <xs:enumeration value="Basisgegeven"/>
      <xs:enumeration value="Wettelijk gegeven"/>
      <xs:enumeration value="Landelijk kerngegeven"/>
      <xs:enumeration value="Overig"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="xhtmlText" mixed="true">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
