src/main/resources/input/BRO/xsd/www.opengis.net/SWE201-BROPROFILE/swe/2.0/swe-profile.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:swe="http://www.opengis.net/swe/2.0"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    targetNamespace="http://www.opengis.net/swe/2.0" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    version="2.0.1">
    <annotation>
        <documentation>SWE Common profile for BRO.</documentation>
    </annotation>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="https://schema.broservices.nl/profile/xlink/1.0/xlink-profile.xsd" />
    
	<!-- ================================================= -->
	<element name="AbstractSWE" type="swe:AbstractSWEType" abstract="true"/>
	<!-- ================================================= -->
	<complexType name="AbstractSWEType">
		<!-- TODO: check
		<sequence>
			<element name="extension" type="anyType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		-->
		<attribute name="id" type="ID" use="optional"/>
	</complexType>
	<!-- ================================================= -->
	<element name="AbstractSWEIdentifiable" type="swe:AbstractSWEIdentifiableType" abstract="true" substitutionGroup="swe:AbstractSWE"/>
	<complexType name="AbstractSWEIdentifiableType">
		<complexContent>
			<extension base="swe:AbstractSWEType">
				<sequence>
					<element name="identifier" type="anyURI" minOccurs="0"/>
					<element name="label" type="string" minOccurs="0"/>
					<element name="description" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<complexType name="UnitReference">
		<attribute name="code" type="swe:UomSymbol" use="optional"/>
	  <attributeGroup ref="swe:AssociationAttributeGroup"/>
	</complexType>
	<!-- ================================================= -->
	<simpleType name="UomSymbol">
		<restriction base="string">
			<pattern value="[^: \n\r\t]+"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<complexType name="NilValue">
		<simpleContent>
			<extension base="token">
				<attribute name="reason" type="anyURI" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- ================================================= -->
	<!-- TODO: check -->
	<complexType name="EncodedValuesPropertyType">
		<complexContent>
			<extension base="anyType">
			  <attributeGroup ref="swe:AssociationAttributeGroup"/>
			</extension>
		</complexContent>
	</complexType>
	<!-- ================================================= -->
	<!-- TODO: check -->
	<simpleType name="TokenPair">
		<restriction>
			<simpleType>
				<list itemType="string"/>
			</simpleType>
			<length value="2"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<!-- TODO: check -->
	<simpleType name="IntegerPair">
		<restriction>
			<simpleType>
				<list itemType="integer"/>
			</simpleType>
			<length value="2"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<!-- TODO: check -->
	<simpleType name="RealPair">
		<restriction>
			<simpleType>
				<list itemType="double"/>
			</simpleType>
			<length value="2"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<!-- TODO: check -->
	<simpleType name="TimePair">
		<restriction>
			<simpleType>
				<list itemType="swe:TimePosition"/>
			</simpleType>
			<length value="2"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<simpleType name="TimePosition">
		<union memberTypes="double swe:TimeIso8601"/>
	</simpleType>
	<!-- ================================================= -->
	<simpleType name="TimeIso8601">
		<union memberTypes="date time dateTime swe:TimeIndeterminateValue"/>
	</simpleType>
	<!-- ================================================= -->
	<simpleType name="TimeIndeterminateValue">
		<restriction base="string">
			<enumeration value="now"/>
		</restriction>
	</simpleType>
	<!-- ================================================= -->
	<attributeGroup name="AssociationAttributeGroup">
		<attributeGroup ref="xlink:simpleAttrs"/>
	</attributeGroup>
  <!-- ================================================= -->
  <complexType name="Reference">    
    <attributeGroup ref="swe:AssociationAttributeGroup"/>
  </complexType>
	<!-- ================================================= -->
    <element name="DataRecord" substitutionGroup="swe:AbstractDataComponent" type="swe:DataRecordType"/>
    <!-- ================================================= -->
    <complexType name="DataRecordType">
        <complexContent>
            <extension base="swe:AbstractDataComponentType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="field">
                        <complexType>
                            <complexContent>
                                <extension base="swe:AbstractDataComponentPropertyType">
                                    <attribute name="name" type="NCName" use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="DataRecordPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:DataRecord"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="DataRecordPropertyByValueType">
        <sequence>
            <element ref="swe:DataRecord"/>
        </sequence>
    </complexType>
    <!-- ================================================= -->
    <element name="Vector" substitutionGroup="swe:AbstractDataComponent" type="swe:VectorType"/>
    <!-- ================================================= -->
    <complexType name="VectorType">
        <complexContent>
            <extension base="swe:AbstractDataComponentType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="coordinate">
                        <complexType>
                            <complexContent>
                                <extension base="swe:AnyNumericalPropertyType">
                                    <attribute name="name" type="NCName" use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
                <attribute name="referenceFrame" type="anyURI" use="required"/>
                <attribute name="localFrame" type="anyURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="VectorPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Vector"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="VectorPropertyByValueType">
        <sequence>
            <element ref="swe:Vector"/>
        </sequence>
    </complexType>
    <!-- ================================================= -->
    <!-- TODO: AbstractDataComponent -->
    <element name="Count" substitutionGroup="swe:AbstractSimpleComponent" type="swe:CountType"/>
    <!-- ================================================= -->
    <complexType name="CountType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedValuesPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="integer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="CountPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Count"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <!-- TODO: AbstractDataComponent -->
    <element name="CategoryRange" substitutionGroup="swe:AbstractSimpleComponent" type="swe:CategoryRangeType"/>
    <!-- ================================================= -->
    <complexType name="CategoryRangeType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="codeSpace" type="swe:Reference"/>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedTokensPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="swe:TokenPair"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="CategoryRangePropertyType">
        <sequence minOccurs="0">
            <element ref="swe:CategoryRange"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <!-- TODO: AbstractDataComponent -->
    <element abstract="true" name="AbstractSimpleComponent" substitutionGroup="swe:AbstractDataComponent" type="swe:AbstractSimpleComponentType"/>
    <!-- ================================================= -->
    <complexType abstract="true" name="AbstractSimpleComponentType">
        <complexContent>
            <extension base="swe:AbstractDataComponentType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="quality" type="swe:QualityPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="nilValues" type="swe:NilValuesPropertyType"/>
                </sequence>
                <attribute name="referenceFrame" type="anyURI" use="optional"/>
                <attribute name="axisID" type="string" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AbstractSimpleComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:AbstractSimpleComponent"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="QuantityRange" substitutionGroup="swe:AbstractSimpleComponent" type="swe:QuantityRangeType"/>
    <!-- ================================================= -->
    <complexType name="QuantityRangeType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element name="uom" type="swe:UnitReference"/>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedValuesPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="swe:RealPair"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="QuantityRangePropertyType">
        <sequence minOccurs="0">
            <element ref="swe:QuantityRange"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Time" substitutionGroup="swe:AbstractSimpleComponent" type="swe:TimeType"/>
    <!-- ================================================= -->
    <complexType name="TimeType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element name="uom" type="swe:UnitReference"/>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedTimesPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="swe:TimePosition"/>
                </sequence>
                <attribute name="referenceTime" type="dateTime" use="optional"/>
                <attribute name="localFrame" type="anyURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="TimePropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Time"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="TimeRange" substitutionGroup="swe:AbstractSimpleComponent" type="swe:TimeRangeType"/>
    <!-- ================================================= -->
    <complexType name="TimeRangeType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element name="uom" type="swe:UnitReference"/>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedTimesPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="swe:TimePair"/>
                </sequence>
                <attribute name="referenceTime" type="dateTime" use="optional"/>
                <attribute name="localFrame" type="anyURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="TimeRangePropertyType">
        <sequence minOccurs="0">
            <element ref="swe:TimeRange"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Boolean" substitutionGroup="swe:AbstractSimpleComponent" type="swe:BooleanType"/>
    <!-- ================================================= -->
    <complexType name="BooleanType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="value" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="BooleanPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Boolean"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Text" substitutionGroup="swe:AbstractSimpleComponent" type="swe:TextType"/>
    <!-- ================================================= -->
    <complexType name="TextType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedTokensPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="TextPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Text"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Category" substitutionGroup="swe:AbstractSimpleComponent" type="swe:CategoryType"/>
    <!-- ================================================= -->
    <complexType name="CategoryType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="codeSpace" type="swe:Reference"/>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedTokensPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="CategoryPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Category"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="Quantity" substitutionGroup="swe:AbstractSimpleComponent" type="swe:QuantityType"/>
    <!-- ================================================= -->
    <complexType name="QuantityType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element name="uom" type="swe:UnitReference"/>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedValuesPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="double"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="QuantityPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:Quantity"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element abstract="true" name="AbstractDataComponent" substitutionGroup="swe:AbstractSWEIdentifiable" type="swe:AbstractDataComponentType"/>
    <!-- ================================================= -->
    <complexType abstract="true" name="AbstractDataComponentType">
        <complexContent>
            <extension base="swe:AbstractSWEIdentifiableType">
                <attribute name="updatable" type="boolean" use="optional"/>
                <attribute name="optional" type="boolean" use="optional" default="false"/>
                <attribute name="definition" type="anyURI" use="optional"/>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AbstractDataComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:AbstractDataComponent"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="CountRange" substitutionGroup="swe:AbstractSimpleComponent" type="swe:CountRangeType"/>
    <!-- ================================================= -->
    <complexType name="CountRangeType">
        <complexContent>
            <extension base="swe:AbstractSimpleComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="constraint" type="swe:AllowedValuesPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="value" type="swe:IntegerPair"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="CountRangePropertyType">
        <sequence minOccurs="0">
            <element ref="swe:CountRange"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="NilValues" substitutionGroup="swe:AbstractSWE" type="swe:NilValuesType"/>
    <!-- ================================================= -->
    <complexType name="NilValuesType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="nilValue" type="swe:NilValue"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="NilValuesPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:NilValues"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="AllowedTokens" substitutionGroup="swe:AbstractSWE" type="swe:AllowedTokensType"/>
    <!-- ================================================= -->
    <complexType name="AllowedTokensType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="value" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="pattern" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AllowedTokensPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:AllowedTokens"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AllowedTokensPropertyByValueType">
        <sequence>
            <element ref="swe:AllowedTokens"/>
        </sequence>
    </complexType>
    <!-- ================================================= -->
    <element name="AllowedValues" substitutionGroup="swe:AbstractSWE" type="swe:AllowedValuesType"/>
    <!-- ================================================= -->
    <complexType name="AllowedValuesType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="value" type="double"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="interval" type="swe:RealPair"/>
                    <element maxOccurs="1" minOccurs="0" name="significantFigures" type="integer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AllowedValuesPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:AllowedValues"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AllowedValuesPropertyByValueType">
        <sequence>
            <element ref="swe:AllowedValues"/>
        </sequence>
    </complexType>
    <!-- ================================================= -->
    <element name="AllowedTimes" substitutionGroup="swe:AbstractSWE" type="swe:AllowedTimesType"/>
    <!-- ================================================= -->
    <complexType name="AllowedTimesType">
        <complexContent>
            <extension base="swe:AbstractSWEType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="value" type="swe:TimePosition"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="interval" type="swe:TimePair"/>
                    <element maxOccurs="1" minOccurs="0" name="significantFigures" type="integer"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AllowedTimesPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:AllowedTimes"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AllowedTimesPropertyByValueType">
        <sequence>
            <element ref="swe:AllowedTimes"/>
        </sequence>
    </complexType>
    <!-- ================================================= -->
    <group name="Quality">
        <choice>
            <element ref="swe:Quantity"/>
            <element ref="swe:QuantityRange"/>
            <element ref="swe:Category"/>
            <element ref="swe:Text"/>
        </choice>
    </group>
    <!-- ================================================= -->
    <complexType name="QualityPropertyType">
        <sequence minOccurs="0">
            <group ref="swe:Quality"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <group name="AnyRange">
        <annotation>
            <documentation>Re-usable group providing a choice of range data components</documentation>
        </annotation>
        <choice>
            <element ref="swe:QuantityRange"/>
            <element ref="swe:TimeRange"/>
            <element ref="swe:CountRange"/>
            <element ref="swe:CategoryRange"/>
        </choice>
    </group>
    <!-- ================================================= -->
    <complexType name="AnyRangePropertyType">
        <sequence minOccurs="0">
            <group ref="swe:AnyRange"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <group name="AnyNumerical">
        <annotation>
            <documentation>Re-usable group providing a choice of numeric data components</documentation>
        </annotation>
        <choice>
            <element ref="swe:Count"/>
            <element ref="swe:Quantity"/>
            <element ref="swe:Time"/>
        </choice>
    </group>
    <!-- ================================================= -->
    <complexType name="AnyNumericalPropertyType">
        <sequence minOccurs="0">
            <group ref="swe:AnyNumerical"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <group name="AnyScalar">
        <annotation>
            <documentation>Re-usable group providing a choice of scalar data components</documentation>
        </annotation>
        <choice>
            <element ref="swe:Boolean"/>
            <element ref="swe:Count"/>
            <element ref="swe:Quantity"/>
            <element ref="swe:Time"/>
            <element ref="swe:Category"/>
            <element ref="swe:Text"/>
        </choice>
    </group>
    <!-- ================================================= -->
    <complexType name="AnyScalarPropertyType">
        <sequence minOccurs="0">
            <group ref="swe:AnyScalar"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <element name="DataArray" substitutionGroup="swe:AbstractDataComponent" type="swe:DataArrayType"/>
    <!-- ================================================= -->
    <complexType name="DataArrayType">
        <complexContent>
            <extension base="swe:AbstractDataComponentType">
                <sequence>
                    <element name="elementCount" type="swe:CountPropertyType"/>
                    <element name="elementType">
                        <complexType>
                            <complexContent>
                                <extension base="swe:AbstractDataComponentPropertyType">
                                    <attribute name="name" type="NCName" use="required"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="encoding">
                        <complexType>
                            <sequence>
                                <element ref="swe:AbstractEncoding"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="values" type="swe:EncodedValuesPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="DataArrayPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:DataArray"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="DataArrayPropertyByValueType">
        <sequence>
            <element ref="swe:DataArray"/>
        </sequence>
    </complexType>    
    <!-- ================================================= -->
    <element abstract="true" name="AbstractEncoding" substitutionGroup="swe:AbstractSWE" type="swe:AbstractEncodingType"/>
    <!-- ================================================= -->
    <complexType abstract="true" name="AbstractEncodingType">
        <complexContent>
            <extension base="swe:AbstractSWEType"/>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="AbstractEncodingPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:AbstractEncoding"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType abstract="true" name="AbstractEncodingPropertyByValueType">
        <sequence>
            <element ref="swe:AbstractEncoding"/>
        </sequence>
    </complexType>
    <!-- ================================================= -->
    <element name="XMLEncoding" substitutionGroup="swe:AbstractEncoding" type="swe:XMLEncodingType"/>
    <!-- ================================================= -->
    <complexType name="XMLEncodingType">
        <complexContent>
            <extension base="swe:AbstractEncodingType"/>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="XMLEncodingPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:XMLEncoding"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="XMLEncodingPropertyByValueType">
        <sequence>
            <element ref="swe:XMLEncoding"/>
        </sequence>
    </complexType>
    <!-- ================================================= -->
    <element name="TextEncoding" substitutionGroup="swe:AbstractEncoding" type="swe:TextEncodingType"/>
    <!-- ================================================= -->
    <complexType name="TextEncodingType">
        <complexContent>
            <extension base="swe:AbstractEncodingType">
                <attribute default="true" name="collapseWhiteSpaces" type="boolean" use="optional"/>
                <attribute default="." name="decimalSeparator" type="string" use="optional"/>
                <attribute name="tokenSeparator" type="string" use="required"/>
                <attribute name="blockSeparator" type="string" use="required"/>
            </extension>
        </complexContent>
    </complexType>
    <!-- ================================================= -->
    <complexType name="TextEncodingPropertyType">
        <sequence minOccurs="0">
            <element ref="swe:TextEncoding"/>
        </sequence>
        <attributeGroup ref="swe:AssociationAttributeGroup"/>
    </complexType>
    <!-- ================================================= -->
    <complexType name="TextEncodingPropertyByValueType">
        <sequence>
            <element ref="swe:TextEncoding"/>
        </sequence>
    </complexType>
    <!-- ================================================= -->
</schema>