src/main/resources/input/Kadaster/xsd/www.knscm.nl/certificaten(4.1.0-20091215)/schemas/test/Certificaten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.knscm.nl/certificaten"
    xmlns:cert="http://www.knscm.nl/certificaten"
    xmlns:tns="http://www.knscm.nl/certificaten" elementFormDefault="qualified">
    
    <!-- sample external schema -->
    
    <element name="Certificaat" type="cert:Certificaat"/>
    
    <complexType name="Certificaat">
        <sequence>
            <element name="nr"/>
            <element name="termijn"/>
        </sequence>
    </complexType>

</schema>
